.map_on_pub {
    height:400px;
    width: 100%;
    border: thin solid #808000
    margin: 0px;
    padding: 0px;
}
.map_on_home {
    height:400px;
    width: 100%;
    border: thin solid #808000
    margin: 0px;
    padding: 0px;
}
