
/* ::▼:::: >>>> the faces <<<< ::::▼:: */

/* 360° / 16 faces = 22.5°, so we go
* forward 22.5° for each element.
* next: with two faces overlay each
* other (look @ html)
* we create the effect
* of an image-less backface here:
* .. dont get confused !cause
* ☺(the backface shows the "frontface")
*/


.f_ {
  transform: rotateY(0deg)
  translateZ(var(--translateZ));
}
.f_01, .back_01{
  transform:
  rotateY(0deg)
  translateZ(var(--translateZ));
}

.f_02, .back_02{
  transform:
  rotateY(30deg)
  translateZ(var(--translateZ));
}

.f_03, .back_03{
  transform:
  rotateY(60deg)
  translateZ(var(--translateZ));
}

.f_04, .back_04{
  transform:
  rotateY(90deg)
  translateZ(var(--translateZ));
}

.f_05, .back_05{
  transform:
  rotateY(120deg)
  translateZ(var(--translateZ));
}
.back_05{
  //background-color: rgb(255, 113, 255);
  background-color: rgb(235, 235, 235);
}

.f_06, .back_06{
  transform:
  rotateY(150deg)
  translateZ(var(--translateZ));
}

.f_07, .back_07{
  transform:
  rotateY(180deg)
  translateZ(var(--translateZ));
}

.f_08, .back_08{
  transform:
  rotateY(210deg)
  translateZ(var(--translateZ));
}

.f_09, .back_09{
  transform:
  rotateY(240deg)
  translateZ(var(--translateZ));
}

.f_10, .back_10{
  transform:
  rotateY(270deg)
  translateZ(var(--translateZ));
}

.f_11, .back_11{
  transform:
  rotateY(300deg)
  translateZ(var(--translateZ));
}
.back_11{
  //background-color: rgb(255, 112, 245);
  background-color: rgb(235, 235, 235);
}

.f_12, .back_12{
  transform:
  rotateY(330deg)
  translateZ(var(--translateZ));
}
.back_12{
  //background-color: rgb(112, 205, 255);
  background-color: rgb(235, 235, 235);
}

/* ::::>>>> buttons <<<<::::*/
@media only screen
    and (width: 375px)
    and (height: 812px)
    and (-webkit-device-pixel-ratio: 3)
{
    .button_wrapL{
        position: relative;
        display: flex;
        justify-content: center;
        left: -140px;
    }
    .button_wrapR{
        position: relative;
        display: flex;
        justify-content: center;
        left: 140px;
    }
}
/* IPAD */
@media only screen
    and (width: 768px)
    and (height: 1024px)
    and (-webkit-device-pixel-ratio: 3)
{
    .button_wrapL{
        position: relative;
        display: flex;
        justify-content: center;
        left: -150px;
    }
    .button_wrapR{
        position: relative;
        display: flex;
        justify-content: center;
        left: 150px;
    }
}
.button_wrapL{
    position: relative;
    display: flex;
    justify-content: center;
    left: -160px;
}
.button_wrapR{
    position: relative;
    display: flex;
    justify-content: center;
    left: 160px;
}
:root {
  --brand_colour: #808000;
}
.button{
    top: -65px;
    //margin-bottom: 40px;
    cursor: pointer;
    width: 25px;
    height: 50px;
    background-color: var(--brand_colour);;
    //background-color: var(--{{theme}});
    //border-radius: 50%;
    //border-color: var(--{{theme}});
    border-color: var(--brand_colour);
    color:rgb(235, 235, 235);

    text-shadow:
    -1px -1px 1px white,
    1px 1px 1px rgba(0, 0, 0, 0.6),
    -2px -2px 2px white,
    2px 2px 2px rgba(0, 0, 0, 0.6);

    //background-image:
    //radial-gradient(
    //whitesmoke 60%, grey, black);
    box-shadow:
    0rem 0.1rem 0.6rem black;
}
.button:active{
    font-size: 2.6rem;
    background-image:
    radial-gradient(
    whitesmoke 45%,
    grey 55%,
    whitesmoke 65%,
    black);
}
