.flat_face:hover {
    //background-color: #808000;
    background-color: #A1BE95;
    color: white;
}
#search-input-navbar:hover{
    //background-color: var(--theme);
    border-left: 2px solid var(--theme) !important;
    border-bottom: 2px solid var(--theme) !important;
    border-right: 2px solid var(--theme) !important;
    border-top: 2px solid var(--theme) !important;
}
#button_direction:hover{
    background-color: var(--theme);
    color: white;
    border-left: 5px solid var(--theme);
    border-bottom: 5px solid var(--theme);
    border-right: 5px solid var(--theme);
    border-top: 5px solid var(--theme);
}
#button_diary:hover{
    background-color: var(--theme);
    color: white;
    border-left: 5px solid var(--theme);
    border-bottom: 5px solid var(--theme);
    border-right: 5px solid var(--theme);
    border-top: 5px solid var(--theme);
}
#button_station:hover{
    background-color: var(--theme);
    color: white;
    border-left: 5px solid var(--theme);
    border-bottom: 5px solid var(--theme);
    border-right: 5px solid var(--theme);
    border-top: 5px solid var(--theme);
}
#button_reset:hover{
    background-color: var(--theme);
    color: white;
    border-left: 5px solid var(--theme);
    border-bottom: 5px solid var(--theme);
    border-right: 5px solid var(--theme);
    border-top: 5px solid var(--theme);
}
#collapsible_filters_sm:hover{
    //background-color: var(--theme);
    border-left: 2px solid var(--theme);
    border-bottom: 2px solid var(--theme);
    border-right: 2px solid var(--theme);
    border-top: 2px solid var(--theme);
    color: white;
}
#button_feature:hover{
    background-color: var(--theme);
    color: white;
    border-left: 5px solid var(--theme);
    border-bottom: 5px solid var(--theme);
    border-right: 5px solid var(--theme);
    border-top: 5px solid var(--theme);
}
#button_event:hover{
    background-color: var(--theme);
    color: white;
    border-left: 5px solid var(--theme);
    border-bottom: 5px solid var(--theme);
    border-right: 5px solid var(--theme);
    border-top: 5px solid var(--theme);
}
