
/* the main css for the site */
#col_map {
    width: 345px;
}
#search-input-navbar {
    width: 250px;
}
.screen-reactor {
    width:365px;
    background: white;
    }
.tbl_ordering {
        width: 30px;
    }
.tbl_rank {
    width: 50px;
}
.tbl_event_day {
    width: 40px;
}
.tbl_detail_name {
    width: 145px;
}
.tbl_station_name {
    width: 110px;
}
/* the css adjustment for the site between two widths */
@media screen and (max-width:1800px) and (min-width:1025px) {
    .screen-reactor {
        width:500px;
        background: white;
        }
    #new_map {
        width: 434px;
    }
}
@media screen and (max-width:1024x) and (min-width:431px) {
    .screen-reactor {
        width:430px;
        background: white;
        }
    //#col_map {
     //   width: 410px;
      //  }
    #new_map {
        width: 369px;
    }
}

@media screen and (max-width:430px) and (min-width:425px) {
    .screen-reactor {
        width:424px;
        background: #808000;
        }
    //#col_map {
    //    width: 404px;
    //    }
    #new_map {
        width: 363px;
    }

}
@media screen and (max-width:424px) and (min-width:391px) {
    .screen-reactor {
        width:390px;
        background: white;
        }
    //#col_map {
    //    width: 370px;
    //    }
    #new_map {
        width: 329px;
    }
}
@media screen and (max-width:395px) and (min-width:371px) {
    .screen-reactor {
        width:375px;
        background: white;
        }
    //#col_map {
    //    width: 355px;
    //    }
    #new_map {
        width: 309px;
    }
}
@media screen and (max-width:370x) and (min-width:321px) {
    .screen-reactor {
        width:315px;
        background: white;
        }
    //#col_map {
    //    width: 295px;
     //   }
    #new_map {
        width: 259px;
    }
}
/* the css adjustment for the site with a max-width of 270px */
@media screen and (max-width:320px) {
    .screen-reactor {
        width:315px;
        background: white;
        }
    //#col_map {
    //    width: 295px;
    //    }
    #new_map {
        width: 258px;
    }
}
