
/* the main css for the site */
#col_map {
    width: 310px;
}
#search-input-navbar {
    width: 250px;
}
.screen-reactor {
    width:365px;
    background: white;
    }

/* the css adjustment for the site between two widths */
@media screen and (max-width:1800px) and (min-width:1025px) {
    .screen-reactor {
        width:500px;
        background: white;
        }
    #col_map {
        width: 450px;
        }
}
@media screen and (max-width:1024x) and (min-width:431px) {
    .screen-reactor {
        width:430px;
        background: white;
        }
    #col_map {
        width: 375px;
        }
}

@media screen and (max-width:430px) and (min-width:425px) {
    .screen-reactor {
        width:424px;
        background: white;
        }
    #col_map {
        width: 370px;
        }
}
@media screen and (max-width:424px) and (min-width:391px) {
    .screen-reactor {
        width:390px;
        background: white;
        }
    #col_map {
        width: 325px;
        }
}
@media screen and (max-width:395px) and (min-width:371px) {
    .screen-reactor {
        width:375px;
        background: white;
        }
    #col_map {
        width: 315px;
        }
}
@media screen and (max-width:370x) and (min-width:321px) {
    .screen-reactor {
        width:315px;
        background: white;
        }
    #col_map {
        width: 265px;
        }
}
/* the css adjustment for the site with a max-width of 270px */
@media screen and (max-width:320px) {
    .screen-reactor {
        width:315px;
        background: white;
        }
    #col_map {
        width: 265px;
        }
}
