.ui-autocomplete-input {
    padding: 0px;
    margin: 0px;
    width: 300px;
}
ul.ui-autocomplete {
    list-style: none;
    background-color: white;
    width: 300px;
}
.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background: coral !important;
    font-weight: bold !important;
    color: #ffffff !important;
}
.page-background {
    background-color:grey;
}
.top-buffer {
    margin: 5px 0px 0px 0px;
}
.bottom-buffer {
    margin: 0px 0px 5px 0px;
}
.orange {
    background-color:white;
    padding:0px;
    margin:1px 0px 1px 0px;
}
.black {
    background-color: white;
    padding:5px 0px;
    margin:0px;
}
.pink {
    justify-content: center;
    background-color: white;
    padding:0px;
    margin:0px;
}
.green {
    justify-content: center;
    background-color: white;
    padding:0px;
    margin:0px;
    font-size: 12px;
    color: black;
}
.grey {
    text-align:center;
    background-color: grey;
    padding:0px;
    margin:5px;
}
.stars {
    height: 15px;
    width: 15px;
    margin: 0px;
    padding: 0px;
}
.star {
    color: #A9A9A9;
    position: relative;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}
.half_star {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    color: black;
    overflow: hidden;
}
.no_star {
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    color: black;
    overflow: hidden;
}
.click {
    font-size:12px;
    color: white;
    background-color: coral;
    margin: 0px 5px;
    padding: 0px 5px;
}
.click sm {
    width: 50px;
}
.carousel_pic {
    height:80px;
    width:130px;
}
.heading {
    font-size: 16px;
    font-weight: bold;
    color: black;
}
.sub-heading {
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.photo9 {
    max-width:290px;
    object-fit:contain;
}
.photo {
    height:150px;
    width:290px;
}
.photo_double {
    height:400px;
    width:290px;
}
.details {
    margin:0px;
    padding:0px;
    display:flex;
    justify-content: center;
}
.label {
    width:60px;
    padding:0px;
    margin:0px;
    height: 30px;
    font-size:12px;
}
.col-data {
    width:220px;
    text-align:left;
    visibility:visible;
    display:flex;
    text-align:left;
}
.input-data {
    overflow-y: scroll;
    resize: none;
    display:block;
}
.details-data {
    margin: 0px;
    padding: 0px;
    width:220px;
    text-align:left;
    visibility:visible;
    display:flex;
    text-align:left"
}
.details-input {
    margin:0px;
    padding: 0px;
    font-size:12px;
    overflow-y: scroll;
    resize: none;
    height: 30px;
    text-align:left;
    visibility:visible;
    display:block;
    width:220px;"
}
.details-label {
    width:60px;
    padding:0px;
    margin:0px;
}
.no-show {
    display: none;
}
.station-box {
    height:200px;
}
.button_size {
    width:40px;
    height:40px;
    display: block;
    margin: 0 auto;
}
.button_caption {
    color: black;
    font-weight: bold;
    font-size: 8px;
    margin: 0px;
    padding: 0px
}
.map_words {
    color: coral;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding-bottom: 5px;
}
