.disable-dbl-tap-zoom {
  touch-action: manipulation;
}
.ui-autocomplete-input {
    padding: 0px;
    margin: 0px;
    width: 300px;
}
ul.ui-autocomplete {
    list-style: none;
    background-color: white;
    width: 300px;
}
.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background: coral !important;
    font-weight: bold !important;
    color: #ffffff !important;
}
.page-background {
    background-color:grey;
}
.btn-primary {
    //background-color: #808000;
    //border: thin solid #808000;
    background-color: #A1BE95;
    border: thin solid #A1BE95;
}
.top-buffer {
    margin: 5px 0px 0px 0px;
}
.bottom-buffer {
    margin: 0px 0px 5px 0px;
}
.orange {
    background-color:white;
    padding:0px;
    margin:1px 0px 1px 0px;
}
.black {
    background-color: white;
    padding:5px 0px;
    margin:0px;
}
.pink {
    justify-content: center;
    background-color: white;
    padding:0px;
    margin:0px;
}
.green {
    justify-content: center;
    background-color: white;
    padding:0px;
    margin:0px;
    font-size: 12px;
    color: black;
}
.grey {
    text-align:center;
    background-color: grey;
    padding:0px;
    margin:5px;
}
.stars {
    height: 15px;
    width: 15px;
    margin: 0px;
    padding: 0px;
}

:root {
  //--brand_colour: #808000;
  --brand_colour: #A1BE95;
}
.click {
    //padding-left:10px;
    font-size:12px;
    color: black;
    border-left: 5px solid var(--brand_colour);
    //border-bottom: 5px solid coral;
    border-bottom: 5px solid var(--brand_colour);
    background-color: white;
    margin: 0px 0px;
    padding: 0px 0px;
    width: 75px;
}
.click sm {
    width: 50px;
}
.carousel_pic {
    height:80px;
    width:130px;
}

.sub-heading {
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.photo9 {
    width:300px;
    height:200px;
    object-fit:contain;
}
.photo {
    height:150px;
    width:290px;
}
.photo_double {
    height:400px;
    width:310px;
}
.details {
    margin:0px;
    padding:0px;
    display:flex;
    justify-content: center;
}
.label {
    width:60px;
    padding:0px;
    margin:0px;
    height: 30px;
    font-size:12px;
}
.col-data {
    width:220px;
    text-align:left;
    visibility:visible;
    display:flex;
    text-align:left;
}
.input-data {
    overflow-y: scroll;
    resize: none;
    display:block;
}
.details-data {
    margin: 0px;
    padding: 0px;
    width:220px;
    text-align:left;
    visibility:visible;
    display:flex;
    text-align:left"
}
.details-input {
    margin:0px;
    padding: 0px;
    font-size:12px;
    overflow-y: scroll;
    resize: none;
    height: 30px;
    text-align:left;
    visibility:visible;
    display:block;
    width:220px;
}
.details-label {
    width:60px;
    padding:0px;
    margin:0px;
}
.no-show {
    display: none;
}
.station-box {
    height:200px;
}
.button_size {
    width:40px;
    height:40px;
    display: block;
    margin: 0 auto;
}
.button_caption {
    color: black;
    font-weight: bold;
    font-size: 8px;
    margin: 0px;
    padding: 0px
}
.map_words {
    color: coral;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding-bottom: 5px;
}
.version {
    margin: 0px;
    padding:0px;
    font-size:10px;
    font-weight: bold;
    text-align: center;
    }
.pointer {
    cursor: pointer;
    }
.card {
  border: none;
  border-radius: 0;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}
.carousel-inner {
  padding: 1em;
}