
@media screen and (max-width: 480px) {
    .large-screen-only {
        display: none;
    }
    .small-slider {

    }
}

@media screen and (max-width: 480px) {
$('#example').dataTable({
    "bPaginate": false,
    "bLengthChange": false,
    "bFilter": true,
    "bInfo": false,
    "bAutoWidth": false });
});

.score {
    color: #0275d8;
}

.header_band {
    background-color:#0275d8;
}

.active_custom {
    background-color:#0275d8;
    color: white !important
}

/* Container holding the image and the text */
.container-photo {
  position: relative;
  text-align: center;
  color: white;
  font-size: 32px;
}

/* Centered text */
.centered-photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}