:root {
    --theme: var(--color)
}
#content_event{
  position: absolute;
  left: -250px;
  background-color: #F5F5F5;
  border: 5px solid var(--theme);
}
#button_event {
    width: 95px;
    height: 35px;
}
.check_label {
    width: 230px;
    font-size: 12px;
    padding-top: 2px;
    margin-top: 2px;
}