:root {
    --theme: var(--color)
}
#content_feature{
  position: absolute;
  left: -250px;
  background-color: #F5F5F5;
  border: 5px solid var(--theme);
}
#button_feature {
    width: 95px;
    height: 35px;
}

