.version {
    margin: 0px;
    padding:0px;
    font-size:10px;
    font-weight: bold;
    text-align: center;
    }
.pointer {
    cursor: pointer;
    }
.card {
  border: none;
  border-radius: 0;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}
.carousel-inner {
  padding: 1em;
}