:root {
    --theme: var(--color)
}
#content_diary{
    position: absolute;
    //top: 50%;
    //left: 50%;
    //top: 75px;
    left: -250px;
    background-color: #F5F5F5;
    border: 5px solid var(--theme);
    //transform: translate(-50%,-50%);
    //-ms-transform: translate(-50%,-50%);
}
#button_diary {
    width: 95px;
    height: 35px;
}

.diary_row {
    background-color: white;
    width: 200px;
    font-size: 12px;
    padding: 0px;
    margin: 5px 0px
}

.caption_count {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    font-weight: bold;
    font-color: black;
}
.caption_day {
    margin: 0px;
    padding: 0px;
    font-size: 11px;
    font-weight: bold;
    font-color: black;
}
.check_face {
    opacity: 1;
    //margin-top: 5px;
    padding: 2.5px;
    width: 45px;
    text-align: center;
    border: thin solid #808000;
    border-radius: 1.2rem;
}
.check_face:hover {
    background-color: #808000;
    color: white;
}
