:root {
    --theme: var(--color)
}
#content_direction{
  position: absolute;
  left: -250px;
  background-color: #F5F5F5;
  border: 5px solid var(--theme);
  //transform: translate(-50%,-50%);
  //-ms-transform: translate(-50%,-50%);
}
#button_direction {
    width: 95px;
    height: 35px;
}
