:root {
    --theme: var(--color)
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  bottom: 0;
  right: 0;
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */

  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#content_filters{
    position: absolute;
    top: 150px;
    left: 47px;
    z-index: 2;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
#collapsible_filters {
    width: 95px;
    height: 40px;
    margin-top: 3px;
    //margin-right: 3px;
    font-size:12px;
    color: black;
    background-color: white;
    border-left: 2px solid var(--theme);
    border-bottom: 2px solid var(--theme);
    border-right: 2px solid white;
    border-top: 2px solid white;
}
//#collapsible_filters:hover{
//    background-color: var(--theme);
//    border-left: 2px solid white;
//    border-bottom: 2px solid white;
//    border-right: 2px solid black;
//   border-top: 2px solid black;
//    color: white;
//}

#all_filters{
    position: relative;
    //right: 5px;
}
#active_filter_count {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: var(--theme);
    border: thin solid white;
}
.filters_on {
    text-align: left;
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    line-height: 1.0;
}
.filters_off {
    text-align: center;
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    line-height: 1.0;
}
.filters_span_on {
    display: block;
}
.filters_span_off {
    display: in-line;
}
.child {
    display: inline-block;
    vertical-align: middle;
}
