<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spinner carousels</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/carousel_centered.css') }}">

</head>

    <body>
        <section class="carousel_scene">

            <section class="carousel">

                <div class="face f_01"> </div>
                <div class="face backface back_01">&#127827</div>

                <div class="face f_02"> </div>
                <div class="face backface back_02">&#129361</div>

                <div class="face f_03"> </div>
                <div class="face backface back_03">&#127828</div>

                <div class="face f_04"> </div>
                <div class="face backface back_04">&#127820</div>

                <div class="face f_05"> </div>
                <div class="face backface back_05">&#129384</div>

                <div class="face f_06"> </div>
                <div class="face backface back_06">&#129382</div>

                <div class="face f_07"> </div>
                <div class="face backface back_07">&#127847</div>

                <div class="face f_08"> </div>
                <div class="face backface back_08">&#129373</div>

                <div class="face f_09"> </div>
                <div class="face backface back_09">&#129367</div>

                <div class="face f_10"> </div>
                <div class="face backface back_10">&#127829</div>

                <div class="face f_11"> </div>
                <div class="face backface back_11">&#129386</div>

                <div class="face f_12"> </div>
                <div class="face backface back_12">&#129381</div>

            </section>

        </section>


    <button class="button button_wrapL" id="forwards"><a style="position: relative; top: 15px;">L</a></button>
    <button class="button button_wrapR" id="rewards"><a style="position: relative; top: 15px;">R</a></button>


<script src="/static/javascript/carousel/main.js"></script>

</body>

</html>
