{% extends '00_template.html' %}

{% block script %}
    <script>env_vars = {{ env_vars | tojson }}</script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/redirect/redirect_summary.js') }}"></script>
{% endblock %}

{% block title %}
<div style="background-color: coral;">
    <div style="padding-top: 50px; font-size: 16px; font-weight: bold; text-align: center; justify-content: center; display: flex;" class="row">Welcome To The Pub Picker</div>
    <div style="padding-top: 25px; text-align: center; justify-content: center; display: flex;">
        <div style="position: relative; height: 150px; width: 150px; background-color: grey; border-radius: 50%; display: inline-block;">
            <div style="top: 10px; left: 10px; position: absolute; height: 130px; width: 130px; background-color: white; border-radius: 50%; display: inline-block;">
                <div style="top: -10px; left: 5px; height: 150px; width: 150px; position: absolute; align-items: center; justify-content: center; display: flex;" class="row"><a href="#"><img src="/static/icons/features/favourite.png" onclick="redirect_summary()"></a></div>
            </div>
        </div>
    </div>
    <div style="text-align: center; padding: 25px 15px 300px 15px; font-size: 14px; font-weight: bold;" class="row">Search for the pub that matches with everything you're looking for.</div>
</div>
{% endblock %}
