{% extends '00_template.html' %}

{% block script %}
    <script>pub = {{ pub | tojson }}</script>
    <script>env_vars = {{ env_vars | tojson }}</script>
{% endblock %}

{% block on_load %}
    <body onload="map_load()" style="background-color:grey">
{% endblock %}

{% block header %}
<script>document.getElementById("template_header").style.display = "none"</script>
{% endblock %}

{% block map %}
    {% include "9_map.html" %}
{% endblock %}

{% block pub_summary %}
    {% include "9_pub_summary.html" %}
{% endblock %}

{% block carousel %}
    {% include "9_carousel.html" %}
{% endblock %}

{% block list %}
<script>document.getElementById("template_list").style.display = "none"</script>
{% endblock %}