{% extends '00_template.html' %}

{% block script %}
    <script>pub = {{ pub | tojson }}</script>
    <script>alias = {{ alias | tojson }}</script>
    <script>visible = {{ visible | tojson }}</script>
    <script>model_formats = {{ model_formats | tojson }}</script>
    <script>env_vars = {{ env_vars | tojson }}</script>
    <script>feature = {{ feature | tojson}}</script>
    <script>review_list = {{ review_list | tojson}}</script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/pub/populate_review.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/onload/onload_collection.js') }}"></script>
{% endblock %}

{% block on_load %}
    <body onload="onload_collection('{{review}}')" class="page-background-color">
{% endblock %}

{% block title %}
    {% include "9_title.html" %}
    {% include "9_pub_filter.html" %}
{% endblock %}

{% block header %}
<script>document.getElementById("template_header").style.display = "none"</script>
{% endblock %}

{% block map %}{% include "9_map.html" %}{% endblock %}

{% block pub %}
<div class="col black"><div class="row pink">{% include "9_features.html" %}</div></div>
{% endblock %}

{% block list %}{% include "9_list.html" %}{% endblock %}

