{% extends '00_template.html' %}

{% block script %}
    <title>collection</title>
    <script>pub = {{ pub | tojson }}</script>
    <script>alias = {{ alias | tojson }}</script>
    <script>visible = {{ visible | tojson }}</script>
    <script>model_formats = {{ model_formats | tojson }}</script>
    <script>env_vars = {{ env_vars | tojson }}</script>
    <script>feature = {{ feature | tojson}}</script>
    <script>station = {{ station | tojson}}</script>
    <script>review_list = {{ review_list | tojson}}</script>
    <script>directions_list = {{ directions_list | tojson}}</script>
    <script>stations_directions_list = {{ stations_directions_list | tojson}}</script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/redirect/redirect_search.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/redirect/redirect_station.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/calculate_pubs.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/calculate_filters.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_direction_change.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_reset.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_by_feature.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_by_station.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_by_direction.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_all_data.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_all_data_collection.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_clear.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/on_click_feature.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_header.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_all_filters.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_feature.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_station.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_direction.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/pre_populate.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_all_filters_collection.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_feature_collection.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_station_collection.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_direction_collection.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_diary_collection.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_diary_collection2.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_diary.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_diary2.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/pub/populate_review.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/onload/onload_collection.js') }}"></script>
{% endblock %}

{% block on_load %}
    <body onload="onload_collection()" class="page-background">
{% endblock %}

{% block title %}
    <div class="col-2">{% include "9_icon_burger.html" %}</div>
    <div class="col-8">{% include "9_title.html" %}</div>
    <div class="col-2">{% include "9_icon_search.html" %}</div>
{% endblock %}

{% block header %}
    <div class="col">
        <div class="row pink" style="background-color: coral; color: white; padding: 5px;">
            <div class="col-2">{% include "9_icon_back.html" %}</div>
            <div class="col-8" id="pub_length"></div>
            <div class="col-2">{% include "9_icon_forward.html" %}</div>
        </div>
        <div class="row">
            {% include "9_filter_overlay.html" %}
        </div>
    </div>
{% endblock %}

{% block map %}
    {% include "9_map.html" %}
{% endblock %}

{% block list %}{% include "9_list.html" %}{% endblock %}
