</head>

<body id="body" onload="onload_new(theme='{{model_formats['theme']}}')" class="page-background" data-value={{model_formats['theme']}}>
    <div class="container-fluid screen-reactor" style="background-color:grey;">
        <div class="row orange" id="template_title">
            <div class="col black">
                {% include "7_title_section.html" %}
            </div>
        </div>
        <div class="row orange" id="template_search">
            <div class="col black">
                {% include "7_search_section.html" %}
            </div>
        </div>
        <div class="row orange" id="template_header" style="display: none;">
            <div class="col black" >
                {% include "7_results_section.html" %}
            </div>
        </div>
        <div class="row orange" id="template_map" style="display: none;">
            <div class="col black" >
                <div class="row pink">
                    {% include "9_map_double.html" %}
                </div>
            </div>
        </div>
        <div class="row orange" id="template_list" style="display: none;">
            <div class="col black" >
                <div class="row pink">
                    {% include "9_list.html" %}
                </div>
            </div>
        </div>
        <div class="row orange" id="template_summary">
            <div class="col black" >
                {% include "7_featured_section.html" %}
            </div>
        </div>
    </div>

</body>

</html>
