<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/carousel/add_listeners_spinner.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/carousel/spinner_classes.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/get_filter_values.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/on_click.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_header.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/map/map_addListener_bounds_changed_gamma.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/html/display_counter.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/map/marker_add_bounds_gamma.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/onload/onload_new.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/pub/populate_photo_carousel.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/redirect/redirect_pub_search.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/html/get_no_of_reviews.js') }}"></script>
