<script defer type="text/javascript" src="/static/javascript/carousel/spinner_set_css_classes.js"></script>
<script defer type="text/javascript" src="/static/javascript/carousel/spinner_set_css_classes_flat.js"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/get_filter_values.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/on_click.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_header.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/setup_filters.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/setup_filters_populate.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/map/map_addListener_bounds_changed_gamma.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/map/marker_add_bounds_zeta.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/map/marker_add.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/html/display_counter.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/map/marker_add_bounds_gamma.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/html/get_no_of_reviews.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/toggle_events.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_event.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_by_event.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_by_diary.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_diary.js') }}"></script>
