<body id="body" class="page-background disable-dbl-tap-zoom" data-color={{color_theme}} onClick="{e => e.preventDefault()}" >
    <div class="container-fluid screen-reactor">
        <div class="row orange" id="template_title">
            <div class="col black">
                {% include "7_section_title_home.html" %}
            </div>
        </div>
        <div class="row orange" id="template_intro">
            <div class="col black">
                <p style="margin-bottom: 0px; text-align: center; font-size: 12px; margin: 0px 25px; line-height: 1.0;">
                    The London Pub Picker is your best place to find London's perfect pub.
                    Search for venues by your preferred location, features or events.
                </p>
            </div>
        </div>
        <div class="row orange" id="template_search">
            <div class="col black">
                {% include "7_section_search.html" %}
            </div>
        </div>
        <div class="row orange" id="template_header" style="display: none;">
            <div class="col black" >
                {% include "7_section_results_header.html" %}
            </div>
        </div>
        <div class="row orange" id="template_map" style="display: none;">
            <div class="col black" >
                <div class="row pink">
                    {% include "9_map.html" %}
                </div>
            </div>
        </div>
        <div class="row orange" id="template_list" style="display: none;">
            <div class="col black" >
                <div class="row pink">
                    {% include "7_section_list.html" %}
                </div>
            </div>
        </div>
        <div class="row orange" id="template_summary">
            <div class="col black" >
                {% include "7_section_featured_pub.html" %}
            </div>
        </div>
        <div class="row orange" id="template_counter">
            <div class="col black" style="display: grid; justify-content: center;">
                {% include "9_counter.html" %}
            </div>
        </div>
    </div>
    <script type="text/javascript">onload_home();</script>
</body>

<script>
    $(document).ready(function(){
        //populate_photo_carousel()
    })
</script>
