<body id="body" onload="onload_pub()" class="page-background" data-value={{model_formats['theme']}}>
    <div class="container-fluid screen-reactor" style="background-color:grey;">
        <div class="row orange" id="template_title">
            <div class="col black">
                {% include "7_section_title_pub.html" %}
            </div>
        </div>
        <div class="row orange" id="template_pub">
            <div class="col black">
                {% include "7_section_pub.html" %}
            </div>
        </div>
    </div>
</body>
