{% extends '00_template.html' %}

{% block script %}
    <script>pub = {{ pub | tojson }}</script>
    <script>photos_list = {{ photos_list | tojson }}</script>
    <script>env_vars = {{ env_vars | tojson }}</script>
    <script>model_formats = {{ model_formats | tojson }}</script>
    <script>alias = {{ alias | tojson }}</script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/redirect/redirect_summary.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/redirect/redirect_stations.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/redirect/redirect_station.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/redirect/redirect_edit.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/pub/populate_stars.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/pub/populate_pub.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/pub/populate_detail.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/pub/populate_photo.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/onload/onload_pub.js') }}"></script>
{% endblock %}

{% block on_load %}
    <body onload="onload_pub()" class="page-background">
{% endblock %}

{% block title %}
    <div class="col-2">{% include "9_icon_burger.html" %}</div>
    <div class="col-8">{% include "9_title.html" %}</div>
    <div class="col-2">{% include "9_icon_search.html" %}</div>
{% endblock %}

{% block pub %}{% include "9_pub.html" %}{% endblock %}
