<script>
    pub_1 = {{ pub_1 | tojson }}
    filters = {{ filters | tojson }}
    directions_list = {{ directions_list | tojson }}
    stations_directions_list = {{ stations_directions_list | tojson }}
    photos_list = {{ photos_list | tojson }}
    env_vars = {{ env_vars | tojson }}
    detail = {{ detail | tojson }}
    review = {{ review | tojson }}
    diary = {{ diary | tojson }}
    station = {{ station | tojson }}
    direction = {{ direction | tojson }}
    event = {{ event | tojson }}
    events = {{ events | tojson }}
</script>
