<body id="body" onload="onload_add()" class="page-background" data-color={{color_theme}}>
    <div class="container-fluid screen-reactor">
        <div class="row orange" id="template_title">
            <div class="col black">
                {% include "7_section_title_add.html" %}
            </div>
        </div>
        <div class="row orange" id="template_pub">
            <div class="col black">
                {% include "7_section_pub.html" %}
            </div>
        </div>
    </div>
</body>
