{% extends '00_template.html' %}

{% block script %}
    <title>add</title>
<script>
    pub = {{ pub | tojson }}
    pub_new = {{ pub_new | tojson }}
    env_vars = {{ env_vars | tojson }}
    stations = {{ stations | tojson }}
    detail = {{ detail | tojson }}
    review = {{ review | tojson }}
    diary = {{ diary | tojson }}
    station = {{ station | tojson }}
    direction = {{ direction | tojson }}
    events = {{ events | tojson }}
</script>

{% endblock %}

{% block on_load %}
    <body onload="onload_add(pub_new)" class="page-background">
{% endblock %}

{% block title %}
    <div class="col-2">{% include "9_icon_burger_beta.html" %}</div>
    <div class="col-8">{% include "9_title.html" %}</div>
    <div class="col-2"></div>
{% endblock %}

{% block map %}
    {% include "9_map.html" %}
    {% include "9_filter_search_box.html" %}
{% endblock %}

{% block pub %}{% include "9_pub_add.html" %}{% endblock %}
