<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/map/map_load.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/pub/populate_stars.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/pub/populate_direction.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/pub/populate_station.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/pub/populate_diary.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/pub/populate_review.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/pub/populate_review_edit.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/pub/populate_detail.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/pub/populate_pub.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/pub/populate_summary.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/pub/populate_photo_carousel.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/redirect/redirect_submit.js') }}"></script>
