<style>

.heading {
    //background-color: #808000;
    background: #A1BE95;
    //color: black;
    color: #F98866
    padding: 5px;
}
.heading_title {
    font-family: Verdana, sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: black;
}
</style>
<div class="row pink heading" >
    <div class="col-2">
        {% block back %}{% endblock %}
    </div>
    <div class="col-8" align="center">
        {% block header %}{% endblock %}
    </div>
    <div class="col-2"></div>
</div>

