<div class="row pink" style="background-color: {{model_formats['theme']}}; color: white; padding: 5px;">
    <div class="col-2"></div>
    <div class="col-8" align="center">
        <a style="font-family: Verdana, sans-serif; text-align: center; text-decoration: none; font-size: 12px; font-weight: bold; color: white;" href="#" >
            Search For Pub
        </a>
    </div>
    <div class="col-2"></div>
</div>
<div class="row pink">
    <div class="col-9">{% include "9_filter_search_box.html" %}</div>
    <div class="col-3 d-flex justify-content-center">{% include "9_filter_overlay.html" %}</div>
</div>
<div class="row pink">
    {% include "9_carousel_spinner.html" %}
</div>
