<div style="margin: 0 auto; position: relative;">
    <div id="pub_table" style="margin: 0px; padding: 0px;"></div>
</div>

<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_header.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/get_filter_values.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/list_js/list_setup_beta.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/list_js/list_delete.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/list_js/list_create.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/list_js/list_columns_beta.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/list_js/list_filter_beta.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/list_js/list_addjson.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/redirect/redirect_pub.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/redirect/redirect_pub_search.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/redirect/update_station.js') }}"></script>
redirect_events