<div id="template_spinner" >
    <div class="carousel_scene" id="the_carousel" >
        <div class="_carousel" >
            {% for k, field in review.__dict__.items() %}
                {% if field.name != "pub_identity" %}
                    {% if field.name in model_formats['icon_list'] %}
                        {% if field.name != "nofeature" %}
                            <div class="face f_n{{field.indx}} carousel_off" id="{{field.name}}_carousel">
                                <div>
                                    <img class="icon_style" id="{{field.name}}_icon" src="/static/icons/features/{{field.name}}.png">
                                    <div class="icon_word" id="{{field.name}}_word">'{{field.alias}}'</div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% include "9_carousel_spinner_desktop_btns.html" %}
<div id="touchsurface_words"></div>

<link rel="stylesheet" href="/static/css/carousel/carousel_spinner.css">

<script src="/static/javascript/carousel/spinner.js"></script>
