<script>console.log('CREATING REVIEW FIELDS - edit')</script>
<div class="col d-flex justify-content-center" style="display:flex; flex-wrap: wrap; margin-left: 10px; margin-right: 10px;">
    {% for key, value in review.items() %}
        {% if value.menu_filter %}
            <div style="opacity: 0.5; text-align:center; margin:0px; padding:0px;" id="{{value.name}}_col">
                <input type="checkbox" id="{{value.name}}_check" name="{{value.name}}_check" style="display: none;" onclick="set_feature_icon_colour('{{value.name}}')">
                <label for="{{value.name}}_check" style="margin:0px; padding:0px" >
                    <div class="flat_face carousel_off" id="{{value.name}}_carousel" style="opacity: 1; margin: 1px; padding: 2.5px; width: 45px; text-align: center; border: thin solid #808000; border-radius: 1.2rem;">
                        <img id="{{value.name}}_icon" style="margin-top: 5px; padding: 1px;" height=35 width=35 src="/static/icons/features/{{value.name}}.png">
                        <div>
                            <p class="word_face" id="{{value.name}}_word" style="margin-top: 2.5px; font-size: 9px; font-weight: bold;"><span style="display: block;">{{value.alias}}</span><span style="display: block;">{{value.alias1}}</span></p>
                        </div>
                    </div>
                </label>
            </div>
        {% else %}
            <script>console.log('no menu filter')</script>
            <div style="display: none;" id="{{value.name}}_col">
                <div>
                    <label class="col-form-label" for="{{value.name}}_check"></label>
                    <input class="form-control" type='text' name="{{value.name}}_check" id="{{value.name}}_check">
                </div>
            </div>
        {% endif%}
    {% endfor %}
</div>

<link rel="stylesheet" href="/static/css/carousel/carousel_spinner.css">

<script type="text/javascript" src="/static/javascript/carousel/spinner_add_listener_click_face.js"></script>
