<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div id="carousel_photo_inner" class="carousel-inner" style="margin: 0px; padding: 0px;" onclick="redirect_pub(daily_id)">
        <div class="carousel-item active">
            <img id="photo_0" height="200" width="300" src="/static/images/coming_soon.jpg" class="d-block w-100" alt="...">
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='javascript/pub/populate_photo_carousel.js') }}"></script>
