{% block script %}
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/carousel/add_listeners.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/redirect/redirect_collection.js') }}"></script>
{% endblock %}
<style>
    .card-title {
        font-size: 10px;
        font-weight: bold;
    }
    .img-wrapper {
        max-width: 100%;
        height: 17em;
        display: flex;
        justify-content: center;
        align-items: flex-start
    }
    img {
        max-width: 100%;
        max-height: 100%
    }
    .carousel-inner {
        display: flex;
    }
    .carousel-item {
        width: 300px;
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/2);
    }
    .carousel.inner {
        padding: 1em;
    }
    .card {
        margin:0 .5em;
    }
</style>
<div class="col black">
    <div class="row pink" style="background-color: coral; text-color: white; padding: 5px;">
        <div class="sub-heading">Search Pubs By Special Interest</div>
    </div>
    <div class="row pink">
        <div id="demo" class="carousel slide" data-bs-ride="carousel">

            <ol class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <div class="col-6">
                        <div class="row">
                            <div class="card" id="brunch" href="/collection?feature=brunch">
                                <div class="carousel_pic"><img src="/static/images/brunch.jpeg"></div>
                                 <div class="card-title">Bottomless Brunch</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card" id="dart" href="/collection?feature=dart">
                                <div class="carousel_pic"><img src="/static/images/dart.jpeg"></div>
                                <div class="card-title">Dart Board</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-6">
                        <div class="row">
                            <div class="card" id="entertain" href="/collection?feature=entertain" >
                                <div class="carousel_pic"><img src="/static/images/entertain.jpeg"></div>
                                <div class="card-title">Entertainment</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card" id="favourite" href="/collection?feature=favourite">
                                <div class="carousel_pic"><img  src="/static/images/favourite.jpeg"></div>
                                <div class="card-title">Pub Picker Favourite</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-6">
                        <div class="row">
                            <div class="card" id="garden">
                                <div class="img-wrapper"><img src="/static/images/garden.jpeg"></div>
                                <div class="card-title">Beer Garden</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card" id="history">
                                <div class="img-wrapper"><img src="/static/images/history.jpeg"></div>
                                <div class="card-title">Historic Pub</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-6">
                        <div class="row">
                            <div class="card" id="late">
                                <div class="img-wrapper"><img src="/static/images/late.jpeg"></div>
                                <div class="card-title">Late Opening</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card" id="music">
                                <div class="img-wrapper"><img src="/static/images/music.jpeg"></div>
                                <div class="card-title">Live Music</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-6">
                        <div class="row">
                            <div class="card" id="pool">
                                <div class="img-wrapper"><img src="/static/images/pool.jpeg"></div>
                                <div class="card-title">Pool Table</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card" id="quiz">
                                <div class="img-wrapper"><img src="/static/images/quiz.jpeg"></div>
                                <div class="card-title">Quiz Night</h5></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-6">
                        <div class="row">
                            <div class="card" id="roast">
                                <div class="img-wrapper"><img src="/static/images/roast.jpeg"></div>
                                <div class="card-title">Sunday Roast</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card" id="sport">
                                <div class="img-wrapper"><img src="/static/images/sport.jpeg"></div>
                                <div class="card-title">Live Sport on TV</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#demo">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
    </div>
</div>
