<style>
      div.box {
    width: 30em;
    height: 3em;
    background-color: #108040;
  }
  div.box.swipeleft {
    background-color: #7ACEF4;
  }
</style>
<div id="template_spinner" >
    <div class="carousel_scene" id="the_carousel" >
        <div class="_carousel" >
            <div class="face f_01" id="brunch_carousel" style="background-color: white;" ><div><img class="icon_style" src="/static/icons/features/brunch.png"><div class="icon_word" id="brunch_word">Bottomless Brunch</div></div></div>

            <div class="face f_02" id="dart_carousel" style="background-color: white;"><div><img class="icon_style" src="/static/icons/features/dart.png"><div class="icon_word" id="dart_word">Dart<span>Board</span></div></div></div>

            <div class="face f_03" id="entertain_carousel" style="background-color: white;"><div><img class="icon_style" src="/static/icons/features/entertain.png"><div class="icon_word" id="entertain_word">Entertaining<span>Extras</span></div></div></div>

            <div class="face f_04" id="favourite_carousel" style="background-color: white;"><div><img class="icon_style" src="/static/icons/features/favourite.png"><div class="icon_word" id="favourite_word">Favourite<span>@PP</span></div></div></div>

            <div class="face f_05" id="garden_carousel" style="background-color: white;"><div><img class="icon_style" src="/static/icons/features/garden.png"><div class="icon_word" id="garden_word">Pub<span>Garden</span></div></div></div>

            <div class="face f_06" id="history_carousel" style="background-color: white;"><div><img class="icon_style" src="/static/icons/features/history.png"><div class="icon_word" id="history_word">Historic<span>Pub</span></div></div></div>

            <div class="face f_07" id="late_carousel" style="background-color: white;"><div><img class="icon_style" src="/static/icons/features/late.png"><div class="icon_word" id="late_word">Opens<span>Late</span></div></div></div>

            <div class="face f_08" id="music_carousel" style="background-color: white;"><div><img class="icon_style" src="/static/icons/features/music.png"><div class="icon_word" id="music_word">Live<span>Music</span></div></div></div>

            <div class="face f_09" id="pool_carousel" style="background-color: white;"><div><img class="icon_style" src="/static/icons/features/pool.png"><div class="icon_word" id="pool_word">Pool<span>Table</span></div></div></div>

            <div class="face f_10" id="quiz_carousel" style="background-color: white;"><div><img class="icon_style" src="/static/icons/features/quiz.png"><div class="icon_word" id="quiz_word">Quiz<span>Night</span></div></div></div>

            <div class="face f_11" id="roast_carousel" style="background-color: white;"><div><img class="icon_style" src="/static/icons/features/roast.png"><div class="icon_word" id="roast_word">Sunday<span>Roast</span></div></div></div>

            <div class="face f_12" id="sport_carousel" style="background-color: white;"><div><img class="icon_style" src="/static/icons/features/sport.png"><div class="icon_word" id="sport_word">Sports<span>TV</span></div></div></div>
        </div>
    </div>
</div>
<button class="button button_wrapL" id="forwards"><a style="font-size: 16px; font-weight: bold; color: white; position: relative; top: 10px;"><<</a></button>
<button class="button button_wrapR" id="rewards"><a style="font-size: 16px; font-weight: bold; color: white; position: relative; top: 10px;">>></a></button>
<div class="box"></div>
<div id="touchsurface_words" style="font-size: 40px;">Swipe Me</div>
<script src="/static/javascript/carousel/spinner.js"></script>

<script>

$(function(){
  // Bind the swipeleftHandler callback function to the swipe event on div.box
  $( "div.box" ).on( "swipeleft", swipeleftHandler );

  // Callback function references the event target and adds the 'swipeleft' class to it
  function swipeleftHandler( event ){
    $( event.target ).addClass( "swipeleft" );
  }
});


window.addEventListener('load', function(){

    var touchsurface_words = document.getElementById('touchsurface_words');
    var touchsurface = document.getElementById('the_carousel'),
        startX,
        startY,
        dist,
        threshold = 150, //required min distance traveled to be considered swipe
        allowedTime = 200, // maximum time allowed to travel that distance
        elapsedTime,
        startTime

    function handleswipe(isrightswipe){
        if (isrightswipe)
            touchsurface_words.innerHTML = 'Congrats, you\'ve made a <span style="color:red">right swipe!</span>'
        else{
            touchsurface_words.innerHTML = 'Condition for right swipe not met yet'
        }
    }

    touchsurface.addEventListener('touchstart', function(e){
        touchsurface.innerHTML = ''
        var touchobj = e.changedTouches[0]
        dist = 0
        startX = touchobj.pageX
        startY = touchobj.pageY
        startTime = new Date().getTime() // record time when finger first makes contact with surface
        e.preventDefault()
    }, false)

    touchsurface.addEventListener('touchmove', function(e){
        e.preventDefault() // prevent scrolling when inside DIV
    }, false)

    touchsurface.addEventListener('touchend', function(e){
        var touchobj = e.changedTouches[0]
        dist = touchobj.pageX - startX // get total dist traveled by finger while in contact with surface
        elapsedTime = new Date().getTime() - startTime // get time elapsed
        // check that elapsed time is within specified, horizontal dist traveled >= threshold, and vertical dist traveled <= 100
        var swiperightBol = (elapsedTime <= allowedTime && dist >= threshold && Math.abs(touchobj.pageY - startY) <= 100)
        handleswipe(swiperightBol)
        e.preventDefault()
    }, false)

}, false) // end window.onload



</script>