<div id="template_spinner" >
    <div class="carousel_scene" id="the_carousel" >
        <div class="_carousel" >
            {% for k, field in review.__dict__.items() %}
                {% if field.name != "pub_identity" %}
                    {% if field.name in model_formats['icon_list'] %}
                        {% if field.name != "nofeature" %}
                            <div class="face carousel_off" id="{{field.name}}_carousel">
                                <div>
                                    <img class="icon_style" id="{{field.name}}_icon" src="/static/icons/features/{{field.name}}.png">
                                    <div class="icon_word" id="{{field.name}}_word">
                                        <p>
                                            <span>{{field.alias}}</span>
                                            <span>{{field.alias1}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% include "9_carousel_spinner_desktop_btns.html" %}
<div id="touchsurface_words"></div>

<link rel="stylesheet" href="/static/css/carousel/carousel_spinner.css">

<script defer type="text/javascript" src="/static/javascript/carousel/spinner_add_listener_click_face.js"></script>
<script defer type="text/javascript" src="/static/javascript/carousel/spinner_add_listener_click_btn.js"></script>
<script defer type="text/javascript" src="/static/javascript/carousel/spinner_add_listener_swipe.js"></script>

<script>

console.log('spinner add listener SWIPE added INSIDE html page')

window.addEventListener('load', function(){
    console.log('carousel SWIPE listener ACTIVATED')
    const carousel = document.querySelector('._carousel');

    let faceCount = 12;
    //let faceCount = number_review_attr
    let stepCount = 360 / faceCount;
    let count = 0;

    function nextStep(x){
        console.log('carousel - ROTATE')
        if(x <= 0){
            x *= -1; //turn to positive number again
            carousel.style.transform = `rotateY(${x}deg)`;
        } else if( x >= 0){
            carousel.style.transform = `rotateY(-${x}deg)`;
        }
    }

    var touchsurface_words = document.getElementById('touchsurface_words');
    var touchsurface = document.getElementById('the_carousel'),
        startX,
        startY,
        dist,
        threshold = 150, //required min distance traveled to be considered swipe
        allowedTime = 200, // maximum time allowed to travel that distance
        elapsedTime,
        startTime

    function handleswipe(isrightswipe, speed){
        speed_abs = Math.abs(speed)
        speed_pow = speed_abs * speed_abs
        speed_round = Math.ceil(speed_pow)

        movement = stepCount * speed_round
        if (isrightswipe > 0) {
            let stepReward = count -= movement;
            nextStep(stepReward);
            }
        else{
            let stepForward = count += movement;
            nextStep(stepForward);
        }
    }

    touchsurface.addEventListener('touchstart', function(e){
        console.log('touchSurface - START')
        touchsurface_words.innerHTML = ''
        var touchobj = e.changedTouches[0]
        dist = 0
        startX = touchobj.pageX
        startY = touchobj.pageY
        startTime = new Date().getTime() // record time when finger first makes contact with surface
        e.preventDefault()
    }, false)

    touchsurface.addEventListener('touchmove', function(e){
        e.preventDefault() // prevent scrolling when inside DIV
    }, false)

    touchsurface.addEventListener('touchend', function(e){
        console.log('touchSurface - END')
        var touchobj = e.changedTouches[0]
        dist = touchobj.pageX - startX // get total dist traveled by finger while in contact with surface
        elapsedTime = new Date().getTime() - startTime // get time elapsed
        // check that elapsed time is within specified, horizontal dist traveled >= threshold, and vertical dist traveled <= 100
        var swiperightBol = (elapsedTime <= allowedTime && dist >= threshold && Math.abs(touchobj.pageY - startY) <= 100)
        var speed = dist/elapsedTime
        handleswipe(dist, speed)
        e.preventDefault()
    }, false)

}, false) // end window.onload

</script>