<style>

.heading2 {
    background-color: var(--theme);
    color: white;
    padding: 0px;
    margin-top: 5px;
    width: 200px;
}
.heading_title2 {
    font-family: Verdana, sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    color: white;
}
</style>
<div class="heading2"><div class="heading_title2">Quick Filters</div></div>
<div id="template_spinner" style="margin-top: 0px; padding:0px;" >
    {% for key, value in review.items() %}
        {% if value.quick_filter == "yes" %}
            <div class="face carousel_off" id="{{value.name}}_flat" style="margin-top: 0px; padding:0px;" >
                <div>
                    <img class="icon_style" id="{{value.name}}_icon" src="/static/icons/features/{{value.name}}.png">
                    <div class="icon_word" id="{{value.name}}_word">
                        <p>
                            <span>{{value.alias}}</span>
                            <span>{{value.alias1}}</span>
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
