
<div class="col black">
    <div class="row pink" style="background-color: coral; text-color: white; padding: 5px;">
        <div class="sub-heading">Search Pubs By Special Interest</div>
    </div>
    <div class="row pink">
<!-- Carousel -->
        <div id="demo" style="width:360px;" class="carousel" data-bs-ride="carousel">
          <!-- The slideshow/carousel -->
          <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <img src="/static/images/brunch.jpeg" class="carousel_pic">
                            </div>
                            <div class="row">
                                <div style="font-size:10px;">Bottomless Brunch</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <img src="/static/images/dart.jpeg" class="carousel_pic">
                            </div>
                            <div class="row">
                                <div style="font-size:10px;">Entertainment</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-md-3">
                    <div class="row">
                        <img src="/static/images/garden.jpeg" class="carousel_pic">
                        <div>Beer Garden</div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-md-3">
                    <div class="row">
                        <img src="/static/images/late.jpeg" class="carousel_pic">
                        <div>Late Opening</div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-md-3">
                    <div class="row">
                        <img src="/static/images/pool.jpeg" class="carousel_pic">
                        <div>Pool Table</div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-md-3-6">
                    <div class="row">
                        <img src="/static/images/roast.jpeg" class="carousel_pic">
                        <div>Sunday Roast</div>
                    </div>
                </div>
            </div>
          </div>

          <!-- Left and right controls/icons -->
          <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>
    </div>
</div>