<div class="heading2"><div class="heading_title2">Quick Filters</div></div>
<div class="col d-flex justify-content-center" style="display:flex; margin-left: 10px; margin-right: 10px;">
    {% for key, value in review.items() %}
        {% if value.quick_filter %}
            <div class="flat_face carousel_off" id="{{value.name}}_carousel" style="opacity: 1; margin: 1px; padding: 2.5px; width: 45px; text-align: center; border: thin solid #808000; border-radius: 1.2rem;">
                <img id="{{value.name}}_icon" style="margin-top: 5px; padding: 1px;" height=35 width=35 src="/static/icons/features/{{value.name}}.png" alt="{{value.name}} show icon">
                <div>
                    <p class="word_face" id="{{value.name}}_word" style="margin-top: 2.5px; font-size: 9px; font-weight: bold;"><span style="display: block;">{{value.alias}}</span><span style="display: block;">{{value.alias1}}</span></p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<link rel="stylesheet" href="/static/css/carousel/carousel_spinner.css">

<script type="text/javascript" src="/static/javascript/carousel/spinner_add_listener_click_face.js"></script>

<script>
spinner_add_listener_click_face()
</script>
