<div style="margin: 0px; padding: 0px;">
    <div id="digit_100000" class="counter" ></div>
    <div id="digit_10000" class="counter" ></div>
    <div id="digit_1000" class="counter" ></div>
    <div id="digit_100" class="counter" ></div>
    <div id="digit_10" class="counter" ></div>
    <div id="digit_1" class="counter" ></div>
</div>
<div style="margin-top: 5px; text-weight: bold; text-align: center; text-size: 10px;">Visits to this Page</div>

<link rel="stylesheet" href="/static/css/html/display_counter.css">
