
<div class="row pink">
    <div style="text-align: center; margin: 0px; padding: 0px;">
        <div id="digit_100000" class="counter" ></div>
        <div id="digit_10000" class="counter" ></div>
        <div id="digit_1000" class="counter" ></div>
        <div id="digit_100" class="counter" ></div>
        <div id="digit_10" class="counter" ></div>
        <div id="digit_1" class="counter" ></div>
    </div>
</div>
<div class="row pink" style="font-size: 12px;">Visits to this Page</div>
<div class="row pink pointer"  style="margin-top: 20px; color:white; " onclick="redirect_add()">Add New</div>

<link rel="stylesheet" href="/static/css/display_counter.css">
