<button type="button" id="button_diary" class="collapsible_diary btn click">by day</button>
<div class="content" id="content_diary" style="display: none" >
    <div class="col" id="checks_diary"></div>
</div>


<script>
    diary_headers = ['monday','tuesday','wednesday','thursday','friday','saturday','sunday']

    //collapse_section("collapsible_week")

    var button_diary = document.getElementById('button_diary')
    var content_direction = document.getElementById('content_direction')
    var content_station = document.getElementById('content_station')
    var content_diary = document.getElementById('content_diary')
    var content_feature = document.getElementById('content_feature')

    button_diary.addEventListener("click", function() {
        if (content_diary.style.display === "none") {
            content_diary.style.display = "flex";
            content_direction.style.display = "none"
            content_station.style.display = "none"
            content_feature.style.display = "none"
        } else {
            content_diary.style.display = "none"
        }
    })

</script>
