<button type="button" id="button_station" class="collapsible btn click text-right" >by station</button>
<div class="content_station" id="content_station" style="display: none; background: #F5F5F5;">
    <div class="col" id="checks_station" style="background-color: white;"></div>
</div>
<style>
#content_station{
  position: absolute;
  left: -250px;
  background-color: #F5F5F5;
  //transform: translate(-50%,-50%);
  //-ms-transform: translate(-50%,-50%);
}
#button_station:hover{
    background-color: coral;
    color: white;
    border-left: 5px solid coral;
    border-bottom: 5px solid coral;
    border-right: 5px solid coral;
    border-top: 5px solid coral;
}

</style>
<script>
    var button_station = document.getElementById('button_station')

    var content_direction = document.getElementById('content_direction')
    var content_station = document.getElementById('content_station')
    var content_diary2 = document.getElementById('content_diary2')
    var content_feature = document.getElementById('content_feature')

    button_station.addEventListener("click", function() {
        if (content_station.style.display === "none") {
            content_station.style.display = "flex";
            content_direction.style.display = "none"
            content_feature.style.display = "none"
            content_diary2.style.display = "none"
        } else {
            content_station.style.display = "none"
        }
    })


</script>