<button type="button" id="button_diary" class="collapsible_feature btn click">by day</button>
<div class="content" id="content_diary" style="display: none" >
    <div class="col" id="checks_diary"></div>
</div>


<script>
    diary_headers = ['monday','tuesday','wednesday','thursday','friday','saturday','sunday']

    //collapse_section("collapsible_week")

    var button_diary = document.getElementById('button_diary')
    var content_direction = document.getElementById('content_direction')
    var content_stat = document.getElementById('content_stat')
    var content_diary = document.getElementById('content_diary')
    var content_feat = document.getElementById('content_feat')

    button_diary.addEventListener("click", function() {
        if (content_diary.style.display === "none") {
            content_diary.style.display = "flex";
            content_direction.style.display = "none"
            content_stat.style.display = "none"
            content_feat.style.display = "none"
        } else {
            content_diary.style.display = "none"
        }
    })
/*
    var select= document.getElementById("direction");
    var option = document.createElement("option");
    for (i=0; i<diary_headers.length; i++) {
        record = document.createElement("div")
        record.className = 'row'
        checks_week = document.getElementById('checks_week')
        checks_week.appendChild(record)

        label = document.createElement("div")
        label.style.width = "150px"
        label.innerHTML = diary_headers[i] + "_id"
        record.appendChild(label)

        input = document.createElement("input")
        input.type = "checkbox"
        input.id = diary_headers[i] + "_filter"
        input.onclick = "home_direction_changed()"
        record.appendChild(input)
        }
*/
</script>
