<button type="button" name="button_direction" id="button_direction" class="collapsible btn click text-right" >by area</button>

<div class="content_direction" id="content_direction" style="display: none; background: #F5F5F5;">
    <div class="col" id="checks_direction" style="background-color: #F5F5F5; width: 250px;" ></div>
</div>

<link rel="stylesheet" href="/static/css/filter/direction_filter.css">
<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/toggle_filters.js') }}"></script>
