<div id="overlay" onclick="hide_filters()"></div>
<div id="all_filters">
    <button type="button" name="show_filters" style="margin: 5px 0px 0px 0xp; padding: 0px;" onclick="show_filters()"
            id="collapsible_filters_sm" class="collapsible_filters btn float-right">
        <div class="parent" >
            <div class="child">
                <p id="filter_overlay_btn" class="filters_off">
                    <div style="display:none">More</div>
                    <span style="display: none;" id="filter_overlay_span" class="filters_span_off">Filters</span>
                    <img height="25" width="30" src="/static/icons/buttons/setting.png" style="margin-top: 7px; background:white;">
                </p>
            </div>
            <div class="child" style="padding-bottom: 10px;text-align: right;">
                <span id="active_filter_count" style="margin:0px; padding: 0px; display: none;"></span>
            </div>
        </div>
    </button>
    <div class="content_filters" id="content_filters" style="display: none">
        <div class="col">
            <div class="row">
                {% include "9_filter_direction.html" %}
            </div>
            <div class="row">
                {% include "9_filter_station.html" %}
            </div>
            <div class="row">
                {% include "9_filter_features.html" %}
            </div>
            <div class="row">
                {% include "9_filter_events.html" %}
            </div>
            <div class="row">
                {% include "9_filter_diary.html" %}
            </div>
            <div class="row">
                {% include "9_filter_pub_identity.html" %}
            </div>
            <div class="row">
                {% include "9_filter_reset.html" %}
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/static/css/filter/overlay_filter.css">
{% include "9_filter_overlay_scripts.html" %}
{% include "9_filter_overlay_variables.html" %}
