{% block script %}
    <script>directions_list = {{ directions_list | tojson}}</script>
    <script>stations_directions_list = {{ stations_directions_list | tojson}}</script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/pre_populate.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_clear.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_all_filters.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_feature.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_station.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_direction.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/on_click.js') }}"></script>
    <!--<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_diary2.js') }}"></script>-->
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_all_data.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_by_feature.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_by_station.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_by_direction.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_reset.js') }}"></script>
{% endblock %}

<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/collapse_section.js') }}"></script>
<style>
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */

  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#content_filters{
    position: absolute;
    top: 105px;
    left:30px;
    z-index: 2;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
#collapsible_filters {
    font-size:12px;
    color: black;
    background-color: white;
    border-left: 5px solid coral;
    border-bottom: 5px solid coral;
    border-right: 5px solid white;
    border-top: 5px solid white;
    width: 95px;
}
#collapsible_filters:hover{
    background-color: coral;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    border-right: 5px solid black;
    border-top: 5px solid black;
    color: white;
}

#all_filters{
    position: relative;
    right: 5px;
}
#active_filter_count {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: coral;
    border: thin solid white;
}


</style>
    <div id="overlay" onclick="off()"></div>
    <div id="all_filters">
        <button type="button" onclick="on()" id="collapsible_filters" class="collapsible_filters btn">Filters
            <span id="active_filter_count" style="display: none;"></span>
        </button>
        <div class="content_filters" id="content_filters" style="display: none">
            <div class="col">
                <div class="row">
                    {% include "9_filter_direction_beta.html" %}
                </div>
                <div class="row">
                    {% include "9_filter_station_beta.html" %}
                </div>
                <div class="row">
                    {% include "9_filter_features_beta.html" %}
                </div>
                <div class="row">
                    {% include "9_filter_diary2_beta.html" %}
                </div>
                <div class="row">
                    {% include "9_filter_reset_beta.html" %}
                </div>
            </div>
        </div>
    </div>

<script>
    collapse_section("collapsible_filters")

    function on() {
        console.log('ON')
      document.getElementById("overlay").style.display = "block";
    }

    function off() {
        console.log('OFF')
        document.getElementById("overlay").style.display = "none";
        content_direction.style.display = "none"
        content_station.style.display = "none"
        content_feature.style.display = "none"
        content_diary2.style.display = "none"
        parent_btn = document.getElementById('content_filters')
        parent_btn.style.display = "none";
    }
</script>
