<button type="button" id="button_station" class="collapsible btn click text-left" >by station</button>
<div class="content_station" id="content_station" style="display: none; overflow-x:scroll; background: #F5F5F5;">
    <div class="col" id="checks_station" style="background-color: white;"</div>
</div>
<style>
#content_station{
  position: absolute;
  //top: 50%;
  //left: 50%;
  //top: 75px;
  left: -250px;
  //transform: translate(-50%,-50%);
  //-ms-transform: translate(-50%,-50%);
}
</style>
<script>
    var button_station = document.getElementById('button_station')
    var content_direction = document.getElementById('content_direction')
    var content_station = document.getElementById('content_station')
    var content_diary = document.getElementById('content_diary2')
    var content_feature = document.getElementById('content_feature')

    button_station.addEventListener("click", function() {
        if (content_station.style.display === "none") {
            content_station.style.display = "flex";
            content_direction.style.display = "none"
            content_diary2.style.display = "none"
            content_feature.style.display = "none"
        } else {
            content_station.style.display = "none"
        }
    })


</script>