<div id="overlay" onclick="off()"></div>
<div id="all_filters">
    <button type="button" onclick="on()" id="collapsible_filters" class="collapsible_filters btn">Filters
        <span id="active_filter_count" style="display: none;"></span>
    </button>
    <div class="content_filters" id="content_filters" style="display: none">
        <div class="col">
            <div class="row">
                {% include "9_filter_direction.html" %}
            </div>
            <div class="row">
                {% include "9_filter_station.html" %}
            </div>
            <div class="row">
                {% include "9_filter_features.html" %}
            </div>
            <div class="row">
                {% include "9_filter_diary.html" %}
            </div>
            <div class="row">
                {% include "9_filter_reset.html" %}
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/static/css/filter/overlay_filter.css">
{% include "9_filter_overlay_scripts.html" %}
{% include "9_filter_overlay_variables.html" %}
