<button type="button" id="button_stat" class="collapsible_s btn click" >by station</button>
<div class="content_s" id="content_stat" style="display: none; overflow-x:scroll;">
    <div class="col" id="checks_station"></div>
</div>

<script>
    var button_stat = document.getElementById('button_stat')
    var content_direction = document.getElementById('content_direction')
    var content_stat = document.getElementById('content_stat')
    var content_week = document.getElementById('content_week')
    var content_feat = document.getElementById('content_feat')

    button_stat.addEventListener("click", function() {
        if (content_stat.style.display === "none") {
            content_stat.style.display = "flex";
            content_direction.style.display = "none"
            content_week.style.display = "none"
            content_feat.style.display = "none"
        } else {
            content_stat.style.display = "none"
        }
    })


</script>