<button type="button" id="button_reset" class="btn click text-right">reset</button>
<style>
#button_reset:hover{
    background-color: coral;
}
#button_reset{
    width: 95px;
    height: 35px;
}
#button_reset:hover{
    background-color: coral;
    color: white;
    border-left: 5px solid coral;
    border-bottom: 5px solid coral;
    border-right: 5px solid coral;
    border-top: 5px solid coral;
}
</style>
<script>
    var button_reset = document.getElementById('button_reset')

    button_reset.addEventListener("click", function() {

        filter_reset()
        console.log('USER INPUT: reset click')
        console.log('pub length: ' + pub.length)
        //pub_filtered = pub
        //list_setup_beta(pub_filtered)
        //populate_review(pub_filtered)
        populate_all_filters(pub)
        //populate_header(pub_filtered.length)
        //map_load_collection(pub_filtered)
        document.getElementById('template_map').style.display = 'none'
        document.getElementById('template_list').style.display = 'none'
        document.getElementById('template_header').style.display = 'none'

    })
</script>
