<button type="button" id="button_reset" class="btn click">Reset filters</button>

<script>
    var button_reset = document.getElementById('button_reset')

    button_reset.addEventListener("click", function() {

        filter_reset()
        console.log('USER INPUT: reset click')
        console.log('pub length: ' + pub.length)
        pub_filtered = pub
        list_setup(pub_filtered)
        populate_review(pub_filtered)
        populate_all_filters(pub_filtered)
        populate_header(pub_filtered.length)

    })
</script>
