<button type="button" id="button_diary2" class="collapsible_diary btn click text-left">by day</button>
<div class="content" id="content_diary2" style="display: none; background: #F5F5F5;" >
    <div class="col">
        <div class="row"><label id="monday_filter_label" style="background-color: white; width: 200px; font-size: 12px; padding: 0px; margin: 0px;">Monday<input id="filter_monday" type="checkbox" class="radio" value="monday" name="fooby[1][]" /></label></div>
        <div class="row"><label id="tuesday_filter_label" style="background-color: white; width: 200px; font-size: 12px; padding: 0px; margin: 0px;">Tuesday<input id="tuesday_filter" type="checkbox" class="radio" value="tuesday" name="fooby[1][]" /></label></div>
        <div class="row"><label id="wednesday_filter_label" style="background-color: white; width: 200px; font-size: 12px; padding: 0px; margin: 0px;">Wednesday<input id="wednesday_filter" type="checkbox" class="radio" value="wednesday" name="fooby[1][]" /></label></div>
        <div class="row"><label id="thursday_filter_label" style="background-color: white; width: 200px; font-size: 12px; padding: 0px; margin: 0px;">Thursday<input id="thursday_filter" type="checkbox" class="radio" value="thursday" name="fooby[1][]" /></label></div>
        <div class="row"><label id="friday_filter_label" style="background-color: white; width: 200px; font-size: 12px; padding: 0px; margin: 0px;">Friday<input id="friday_filter" type="checkbox" class="radio" value="friday" name="fooby[1][]" /></label></div>
        <div class="row"><label id="saturday_filter_label" style="background-color: white; width: 200px; font-size: 12px; padding: 0px; margin: 0px;">Saturday<input id="saturday_filter" type="checkbox" class="radio" value="saturday" name="fooby[1][]" /></label></div>
        <div class="row"><label id="sunday_filter_label" style="background-color: white; width: 200px; font-size: 12px; padding: 0px; margin: 0px;">Sunday<input id="sunday_filter" type="checkbox" class="radio" value="sunday" name="fooby[1][]" /></label></div>
    </div>
</div>
<style>
#content_diary2{
  position: absolute;
  //top: 50%;
  //left: 50%;
  //top: 75px;
  left: -250px;
  background-color: #F5F5F5;
  //transform: translate(-50%,-50%);
  //-ms-transform: translate(-50%,-50%);
}
#button_diary2:hover{
    background-color: coral;
    color: white;
    border-left: 5px solid coral;
    border-bottom: 5px solid coral;
    border-right: 5px solid coral;
    border-top: 5px solid coral;
}
</style>

<script>

    // the selector will match all input controls of type :checkbox
    // and attach a click event handler
    $("input:checkbox").on('click', function() {
        // in the handler, 'this' refers to the box clicked on
        var $box = $(this);
        if ($box.is(":checked")) {
            console.log('INSIDE is CHECKED')
            console.log($box.attr("name"))
            console.log($box.attr("value"))
            list_setup_diary($box.attr("value"))
            // the name of the box is retrieved using the .attr() method
            // as it is assumed and expected to be immutable
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            // the checked state of the group/box on the other hand will change
            // and the current value is retrieved using .prop() method
            $(group).prop("checked", false);
            $box.prop("checked", true);
        } else {
            console.log('INSIDE is UNchecked')
            $box.prop("checked", false);
            list_setup_diary('none')
        }
    });

    var button_diary2 = document.getElementById('button_diary2')
    var content_direction = document.getElementById('content_direction')
    var content_station = document.getElementById('content_station')
    //var content_diary = document.getElementById('content_diary')
    var content_diary2 = document.getElementById('content_diary2')
    var content_feature = document.getElementById('content_feature')

    button_diary2.addEventListener("click", function() {
        if (content_diary2.style.display === "none") {
            content_diary2.style.display = "flex";
            content_direction.style.display = "none"
            content_station.style.display = "none"
            content_feature.style.display = "none"
            //content_diary.style.display = "none"
        } else {
            content_diary2.style.display = "none"
        }
    })
</script>
