<div onclick="redirect_back('{{filters}}')">
    {% if filters != 'none' %}
        <a href="#" style="padding: 0px; margin: 0px; font-size: 16px; font-weight: bold; text-decoration: none; color: white;"><<<</a>
    {% else %}
        <a></a>
    {% endif %}
</div>

<script>
    function redirect_back() {
        console.log("redirect_back")
        var filters = document.getElementById('search_back').textContent;
        console.log(filters)
        var base_url = window.location.hostname
        if (env_vars['env'] == 'qual') {
            var url = "http://" + base_url + ":5000/collection/"
        } else {
            var url = "http://" + base_url + "/collection/"
        }
        const myUrlWithParams = new URL(url);
        myUrlWithParams.searchParams.append('filters', filters);
        window.location.replace(myUrlWithParams.href);
    }
</script>