<div id="menuToggle">
  <!-- A fake / hidden checkbox is used as click receiver, so you can use the :checked selector on it. -->
  <input type="checkbox" />
  <!-- Some spans to act as a hamburger. They are acting like a real hamburger, not that MacDonald's stuff.  -->
  <span></span>
  <span></span>
  <span></span>
  <!-- Too bad the menu has to be inside of the button but hey, it's pure CSS magic. -->
  <ul id="menu">
    <a href="#" onclick="redirect_new()"><li>Home</li></a>
  </ul>
</div>

<link rel="stylesheet" href="/static/css/icon/icon.css">

<script defer type="text/javascript" src="/static/javascript/redirect/redirect_new.js"></script>
<script defer type="text/javascript" src="/static/javascript/redirect/redirect_add.js"></script>
<script defer type="text/javascript" src="/static/javascript/redirect/redirect_events.js"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/redirect/redirect_summary.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/redirect/redirect_edit.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/redirect/redirect_pub.js') }}"></script>
