<div onclick="redirect_back('{{back}}')">
    {% if back == "none" %}
        <a style="font-family: Verdana, sans-serif; font-weight: bold; text-decoration: none; color: white;">
    {% else %}
        <a href="#" style="font-family: Verdana, sans-serif; font-weight: bold; text-decoration: none; color: white;">
    {% endif %}
        <<
    </a>
</div>

<script>
    function redirect_back(back) {
        console.log("redirect_back")
        if (back == "pub") {
            var base_url = window.location.hostname
            if (env_vars['env'] == 'qual') {
                var url = "http://" + base_url + ":5000/pub/"
            } else {
                var url = "http://" + base_url + "/pub/"
            }
            const myUrlWithParams = new URL(url);
            myUrlWithParams.searchParams.append('id', '{{back_id}}');
            window.location.replace(myUrlWithParams.href);
        }
        if (back != "none") {
            var base_url = window.location.hostname
            if (env_vars['env'] == 'qual') {
                var url = "http://" + base_url + ":5000/" + back + "/"
            } else {
                var url = "http://" + base_url + "/" + back + "/"
            }
            const myUrlWithParams = new URL(url);
            window.location.replace(myUrlWithParams.href);
        }
    }
</script>