<div class="col d-flex justify-content-center" id="col_map">
    <div id="new_map"></div>
    <div class="map_words" id="msg_map"></div>
</div>

<link rel="stylesheet" href="/static/css/map/map.css">

<script type="text/javascript" src="{{ url_for('static', filename='javascript/map/map_create.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/map/map_load.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/map/map_addListener_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/map/marker_add_summary.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/map/marker_add_collection.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/map/marker_add_bounds.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/map/marker_add_bounds_beta.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/map/map_addListener_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/map/searchbox_addListener_places_changed.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/map/sort_by_distance.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/map/map_initiate.js') }}"></script>
