<div class="col" id="col_map">
    <div class="photo_double" id="new_map"></div>
    <div class="map_words" id="msg_map"></div>
</div>

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/map/nearest_station.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/map/map_create.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/map/map_load.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/map/marker_add_summary.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/map/marker_add_collection.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/map/marker_add_bounds.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/map/marker_add_bounds_beta.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/map/map_addListener_bounds_changed.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/map/map_addListener_bounds_changed_beta.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/map/map_addListener_click.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/map/searchbox_addListener_places_changed.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/map/sort_by_distance.js') }}"></script>
    <script>

        function map_init_summary() {
            console.log('MAP INIT SUMMARY')
            map = map_create(pub[0].detail_latitude, pub[0].detail_longitude, 15)
            marker_add_summary(map)
        }
        function map_init_pub() {
            console.log('MAP INIT PUB')
            map = map_create(pub[0].detail_latitude, pub[0].detail_longitude, 15)
            marker_add_summary(map)
        }
        function map_init_add() {
            console.log('MAP INIT ADD')

            const arrMarks = pub.map(x => x.latitude); // get all the marks.
            console.log('arrMarks')
            console.log(arrMarks)

            map = map_create(pub_new[0].detail_latitude, pub_new[0].detail_longitude, 17)
            const input = document.getElementById("search-input-navbar");
            const searchBox = new google.maps.places.SearchBox(input);
            searchbox_addListener_places_changed(map, searchBox);
            map_addListener_bounds_changed_beta_add(map, pub, searchBox);
            map_addListener_click_add(map)
        }
        function map_init_search() {
            console.log('MAP INIT SEARCH')
            map = map_create(pub[0].detail_latitude, pub[0].detail_longitude, 15)
            const input = document.getElementById("search-input-navbar");
            const searchBox = new google.maps.places.SearchBox(input);
            searchbox_addListener_places_changed(map, searchBox);
            map_addListener_bounds_changed_beta(map, pub, searchBox);
            map_addListener_click_placeid(map)
            //map_addListener_click_add(map)
        }
        var markersArray =[];
        function clearOverlays() {
            for (var i = 0; i < markersArray.length; i++ ) {
                markersArray[i].setMap(null);
            }
            markersArray.length = 0;
        }
        function map_repopulate(pub_filtered) {
            console.log('map_repopulate')

            clearOverlays();
            pub_filtered = filter_all_data()
            marker_add_bounds_gamma(pub_filtered)
        }
        function map_init_gamma() {
            console.log('map init GAMMA')
            map_create(pub[0].detail_latitude, pub[0].detail_longitude, 14)
            const input = document.getElementById("search-input-navbar");
            const searchBox = new google.maps.places.SearchBox(input);
            searchbox_addListener_places_changed(map, searchBox);
            //map_addListener_bounds_changed_gamma(map, pub, searchBox);
            map_addListener_click_placeid(map)
        }
        function map_init_collection() {
            console.log('MAP INIT COLLECTION')
            map_create(pub[0].detail_latitude, pub[0].detail_longitude, 15)
            const input = document.getElementById("search-input-navbar");
            const searchBox = new google.maps.places.SearchBox(input);
            searchbox_addListener_places_changed(map, searchBox);
            map_addListener_bounds_changed_beta(map, pub, searchBox);
            map_addListener_click_placeid(map)

            pub_filtered = filter_all_data()
            marker_add_collection(map, pub_filtered)
        }
        function map_init_1() {
            console.log('MAP INIT 1')
            map = map_create(pub[0].detail_latitude, pub[0].detail_longitude, 15)
            marker_add_1(map)
        }
        function map_init_blank() {
            console.log('MAP INIT BLANK')
            map = map_create(51.5, -0.11, 15)
            map_listener_click(map)
        }
        function map_init_too_many() {
            console.log("INIT MAP TOO MANY");
            map_elem = document.getElementById('new_map');
            map_elem.className = "photo"
            var elem = document.createElement("img");
            elem.src = "/static/icons/no-map.png"
            elem.height = "100"
            map_elem.appendChild(elem)
        }
        function map_init_none() {
            console.log("INIT MAP NONE");
            map_elem = document.getElementById('new_map');
            map_elem.className = "photo"
            var elem = document.createElement("img");
            elem.src = "/static/icons/no-wifi.png"
            elem.height = "100"
            map_elem.appendChild(elem)
        }
    </script>
{% endblock %}
