<div class="col justify-content-center map_box" >
    <div class="row map_border_row">
        <div class="col"></div>
        <div class="col"><p class="notes_text ns" id="north_note">NORTH</p></div>
        <div class="col"></div>
    </div>
    <div class="row" style="margin:auto; width: 100%; height: 440px;">
        <div class="map_border_col"><p class="notes_text ew rotate_lr" id="west_note">WEST</p></div>
        <div id="new_map" style="border-color:none!important;"></div>
        <div class="map_border_col"><p class="notes_text ew rotate_rl" id="east_note">EAST</p></div>
    </div>
    <div class="row map_border_row">
        <div class="col"></div>
        <div class="col"><p class="notes_text ns" id="south_note">SOUTH</p></div>
        <div class="col"></div>
    </div>
    <div class="row map_words" id="msg_map" style="display:none;"></div>
</div>
<link rel="stylesheet" href="/static/css/map/map.css">
