<div class="col" style="background-color: black; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">
    <div class="row" style="justify-content: center;background-color: pink; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px" id="pic">{% include "9_features.html" %}</div>
    <div class="row" style="justify-content: center;background-color: pink; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">{% include "9_detail.html" %}</div>
    <div class="row" style="justify-content: center;background-color: pink; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">{% include "9_diary.html" %}</div>
</div>
