<script>console.log('CREATING PHOTO FIELDS')</script>

<div id="car_photo" data-ride="carousel" style="width:290px; margin-top: 10px;">
    <div class="carousel-inner">
        <div class="photo carousel-item active"><img class="photo9" id='photo_identity_0'></div>
        <div class="photo carousel-item"><img class="photo9" id='photo_identity_1'></div>
        <div class="photo carousel-item"><img class="photo9" id='photo_identity_2'></div>
        <div class="photo carousel-item"><img class="photo9" id='photo_identity_3'></div>
        <div class="photo carousel-item"><img class="photo9" id='photo_identity_4'></div>
        <div class="photo carousel-item"><img class="photo9" id='photo_identity_5'></div>
        <div class="photo carousel-item"><img class="photo9" id='photo_identity_6'></div>
        <div class="photo carousel-item"><img class="photo9" id='photo_identity_7'></div>
        <div class="photo carousel-item"><img class="photo9" id='photo_identity_8'></div>
        <div class="photo carousel-item"><img class="photo9" id='photo_identity_9'></div>
    </div>

</div>
