<script>console.log('CREATING DIARY FIELDS')</script>
{% for key, value in diary.items() %}
    {% if (value.form_visible) %}
        <div class="form-group row details" id="row_{{value.name}}">
            <div class="col col-diary-label" >
                <label class="col-form-label item-diary-label" for="{{value.name}}">{{value.alias}}</label>
            </div>
            <div class="col col-diary-item" id="div_{{value.name}}" >
                {% if name == "readonly" %}
                    <input class="form-control item-diary-input" type='textarea' name="{{value.name}}" id="{{value.name}}" readonly>
                {% else %}
                    <input class="form-control item-diary-input" type='textarea' name="{{value.name}}" id="{{value.name}}" >
                {% endif %}
            </div>
            <div class="col col-event-item" id="div_col_event_type">
                <select class="input-event-item" name="{{value.name}}event_type" id="{{value.name}}_event_type">
                    <option value="blank"></option>
                    {% for key, value in review.items() %}
                        {% if (value.event_filter) %}
                            <option value=value.name>{{value.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
    {% endif %}
{% endfor %}

<link rel="stylesheet" href="/static/css/pub/diary.css">
