<style>
    .btn_primary {
        //background-color: #808000;
        background-color: #A1BE95;
    }
</style>
{% include "9_header_pub.html" %}

<form action="/submit/?id={{pub_1[0]['pub_identity']}}&filters={{filters}}" method="post">
    <div style="font-size: 12px; font-weight: bold">What it's about ... </div>
    <div class="row pink">{% include "9_pub_detail.html" %}</div>
    <div class="row pink">{% include "9_carousel_flat_spinner_edit.html" %}</div>

    <div style="font-size: 12px; font-weight: bold">Where it is ... </div>
    <div class="row pink">{% include "9_pub_station.html" %}</div>
    <div class="row pink">{% include "9_pub_direction.html" %}</div>
    <div class="row pink">{% include "9_map.html" %}</div>

    <div style="font-size: 12px; font-weight: bold">What's going on ...</div>
    <div class="row pink">{% include "9_pub_diary_event.html" %}</div>

    <div style="font-size: 12px; font-weight: bold; padding-top:5px;">What it looks like ... ?</div>
    <div class="row pink"  style="margin-bottom: 50px;">{% include "9_carousel_photo.html" %}</div>

    <button id="submit" type="submit" class="btn btn-primary btn-block" name="submit" value="submit">Submit</button>
</form>
<link rel="stylesheet" href="/static/css/populate_detail.css">