<script>console.log('CREATING DETAIL FIELDS')</script>
{% for key, value in detail.items() %}
    {% if (value.form_visible) %}
        <div class="form-group row details" id=row_{{value.name}} >
            <div class="col col-diary-label">
                <label class="col-form-label item-diary-label" for={{value.name}} >{{value.alias}}</label>
            </div>
            <div class="col col-diary-item" align="left" id=div_{{value.name}} >
                {% if value.name == 'website' %}
                    <input class="form-control item-diary-input" type='url' name={{value.name}} id={{value.name}}>
                {% elif value.control == 'dropdown' %}
                    {% include "control_dropdown.html" %}
                {% elif value.control == 'star' %}
                    {% include "9_stars_add.html" %}
                {% elif value.control == 'slider' %}
                    {% include "control_slider.html" %}
                {% elif value.control == 'date' %}
                    {% include "control_date.html" %}
                {% else %}
                    <input class="form-control item-diary-input" type='text' name={{value.name}} id={{value.name}}>
                {% endif %}
                {% if (value.required) %}
                    <script>document.getElementById("{{value.name}}").required = true</script>
                {% endif %}
            </div>
        </div>
    {% elif name != "readonly" and ((value.form_visible) or (value.name == 'detail_name') or (value.name == 'extra')) %}
        <div class="form-group row details" id=row_{{value.name}} >
            <div class="col details-label" >
                <label class="col-form-label label" for={{value.name}} >{{value.alias}}</label>
            </div>
            <div class="col details-data" id=div_{{value.name}} >
                {% if value.control == 'dropdown' %}
                    {% include "control_dropdown.html" %}
                {% elif value.control == 'star' %}
                    {% include "9_stars.html" %}
                {% elif value.name == 'slider' %}
                    {% include "control_slider.html" %}
                {% elif value.name == 'date' %}
                    {% include "control_date.html" %}
                {% else %}
                    <input class="form-control details-input" type='textarea' name={{value.name}} id={{value.name}}>
                {% endif %}
                {% if (value.required) %}
                    <script>document.getElementById("{{value.name}}").required = true</script>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="form-group row no-show" id=row_{{value.name}}>
            <div class="col">
                <label class="col-form-label no-show" for={{value.name}}></label>
            </div>
            <div class="col" id=div_{{value.name}}>
                <input class="form-control no-show" type='text' name={{value.name}} id={{value.name}}>
            </div>
        </div>
    {% endif %}
{% endfor %}

<link rel="stylesheet" href="/static/css/pub/detail.css">
