<style>
    .col-diary-label {
        width: 75px;
        margin: 0px;
        margin-left: 10px;
        padding: 0px;
    }
    .col-diary-item {
        width: 200px;
        margin: 0px;
        margin-right: 10px;
        padding: 0px;
    }
    .item-diary-label {
        width:75px;
        padding:0px;
        margin:0px;
        height: 30px;
        font-size:12px;
    }
    .item-diary-input {
        margin:0px;
        padding: 0px;
        font-size:12px;
        overflow-y: scroll;
        resize: none;
        height: 30px;
        text-align:left;
        visibility:visible;
        display:block;
        width:200px;"
    }
</style>
<script>console.log('CREATING DETAIL FIELDS')</script>
{% for key, value in detail.items() %}
    {% if value.form_visible == "true" %}
        <div class="form-group row details" id=row_{{value.name}} >
            <div class="col col-diary-label">
                <label class="col-form-label item-diary-label" for={{value.name}} >{{value.alias}}</label>
            </div>
            <div class="col col-diary-item" align="left" id=div_{{value.name}} >
                {% if value.name == 'website' %}
                    <input class="form-control item-diary-input" type='url' name={{value.name}} id={{value.name}} readonly>
                {% elif value.control == 'dropdown' %}
                    {% include "control_dropdown.html" %}
                {% elif value.control == 'star' %}
                    {% include "9_stars_add.html" %}
                {% elif value.control == 'slider' %}
                    {% include "control_slider.html" %}
                {% elif value.control == 'date' %}
                    {% include "control_date.html" %}
                {% else %}
                    <input class="form-control item-diary-input" type='textarea' name={{value.name}} id={{value.name}} readonly>
                {% endif %}
                {% if value.required  == 'yes' %}
                    <script>document.getElementById("{{field.name}}").required = true</script>
                {% endif %}
            </div>
        </div>
    {% elif name != "readonly" and ((value.form_visible == 'yes') or (value.name == 'detail_name') or (value.name == 'extra')) %}
        <div class="form-group row details" id=row_{{value.name}} >
            <div class="col details-label" >
                <label class="col-form-label label" for={{value.name}} >{{value.alias}}</label>
            </div>
            <div class="col details-data" id=div_{{value.name}} >
                {% if value.control == 'dropdown' %}
                    {% include "control_dropdown.html" %}
                {% elif value.control == 'star' %}
                    {% include "9_stars.html" %}
                {% elif value.name == 'slider' %}
                    {% include "control_slider.html" %}
                {% elif value.name == 'date' %}
                    {% include "control_date.html" %}
                {% else %}
                    <input class="form-control details-input" type='textarea' name={{value.name}} id={{value.name}}>
                {% endif %}
                {% if value.required == 'yes' %}
                    <script>document.getElementById("{{value.name}}").required = true</script>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="form-group row no-show" id=row_{{value.name}}>
            <div class="col">
                <label class="col-form-label no-show" for={{value.name}}></label>
            </div>
            <div class="col" id=div_{{value.name}}>
                <input class="form-control no-show" type='text' name={{value.name}} id={{value.name}}>
            </div>
        </div>
    {% endif %}
{% endfor %}
