<script>console.log('CREATING DIARY FIELDS')</script>
{% for key, field in diary.__dict__.items() %}
    {% if key != "pub_identity" %}
        <div class="form-group row details" id="row_{{field.name}}">
            <div class="col details-label">
                <label class="col-form-label label" for="{{key}}">{{field.alias}}</label>
            </div>
            <div class="col details-data" id="div_{{key}}" >
                {% if name == "readonly" %}
                    <input class="form-control details-input" type='textarea' name="{{key}}" id="{{key}}" readonly>
                {% else %}
                    <input class="form-control details-input" type='textarea' name="{{key}}" id="{{key}}" >
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endfor %}
