<script>console.log('CREATING REVIEW FIELDS')</script>
<div id="home_features" class="row" style="width: 290px; display:flex; flex-wrap: wrap; ">
{% for k, field in review.__dict__.items() %}
    {% if field.name in model_formats['icon_list'] %}
        <div style="text-align:center; margin:0px; padding:5px; width:40px" id="{{field.name}}_col">
            <div>
                <input type="checkbox" id="{{field.name}}" name="{{field.name}}" style="display:none" onclick="set_feature_icon_colour('{{field.name}}')">
            </div>
            <div>
                <label for="{{field.name}}" style="margin:0px; padding:0px" >
                    <img src="{{ url_for('static', filename='icons/features/' + field.icon ) }}" id="{{field.name}}_img" width="27" height="25"
                         style="opacity: 1;">
                </label>
            </div>
            <div class="caption" id="{{field.name}}_caption" style="font-weight: bold; font-size: 8px; padding:0px; margin:0px; opacity:1;">{{field.alias}}</div>
        </div>
    {% else %}
        <div class="form-group row no-show" id=row_{{field.name}}>
            <div class="col">
                <label class="col-form-label no-show" for={{field.name}}></label>
            </div>
            <div class="col" id=div_{{field.name}}>
                <input class="form-control no-show" type='text' name={{field.name}} id={{field.name}}>
            </div>
            <div class="caption no-show" id="{{field.name}}_caption" style="font-size: 8px; padding:0px; margin:0px; opacity:1;"></div>
        </div>
    {% endif %}

{% endfor %}
</div>
