{% include "9_header_pub.html" %}

<div class="row pink" id="9_stars" style="padding-bottom:5px;">{% include "9_stars.html" %}</div>
<div class="row pink summary_extra" id="summary_extra" ></div>
<div class="pub_headings" >What it's about ...</div>
<div class="row pink" id="9_pub_detail">{% include "9_pub_detail.html" %}</div>

<div class="pub_headings" >What it looks like ...</div>
<div class="row pink" id="9_carousel_photo">{% include "9_carousel_photo.html" %}</div>

<div class="pub_headings" >What it features ...</div>
<div class="row pink" style="margin-bottom:5px;">{% include "9_carousel_flat_spinner_pub.html" %}</div>

<div class="pub_headings" >What's happening ...</div>
<div class="row pink" id="9_pub_diary">{% include "9_pub_diary.html" %}</div>

<div class="pub_headings" >Where it's located ...</div>
<div class="row pink" id="9_pub_station">{% include "9_pub_station.html" %}</div>
<div class="row pink" id="9_pub_direction">{% include "9_pub_direction.html" %}</div>
<div class="row pink" >{% include "9_map.html" %}</div>

<div style="margin-bottom:50px;"></div>
<link rel="stylesheet" href="/static/css/pub/pub.css">
