<style>
    .col-diary-label {
        width: 75px;
        margin: 0px;
        margin-left: 10px;
        padding: 0px;
    }
    .col-diary-item {
        width: 200px;
        margin: 0px;
        margin-right: 10px;
        padding: 0px;
    }
    .item-diary-label {
        width:75px;
        padding:0px;
        margin:0px;
        height: 30px;
        font-size:12px;
    }
    .item-diary-input {
        margin:0px;
        padding: 0px;
        font-size:12px;
        overflow-y: scroll;
        resize: none;
        height: 30px;
        text-align:left;
        visibility:visible;
        display:block;
        width:200px;"
    }
</style>
<script>console.log('CREATING DIARY FIELDS')</script>
{% for key, value in diary.items() %}
    {% if value.form_visible == 'true' %}
        <div class="form-group row details" id="row_{{value.name}}">
            <div class="col col-diary-label" >
                <label class="col-form-label item-diary-label" for="{{value.name}}">{{value.alias}}</label>
            </div>
            <div class="col col-diary-item" id="div_{{value.name}}" >
                {% if name == "readonly" %}
                    <input class="form-control item-diary-input" type='textarea' name="{{value.name}}" id="{{value.name}}" readonly>
                {% else %}
                    <input class="form-control item-diary-input" type='textarea' name="{{value.name}}" id="{{value.name}}" >
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endfor %}
