<script>console.log('CREATING DIRECTION FIELDS')</script>
{% for key, value in direction.items() %}
    {% if value.form_visible %}
        <script>console.log('visible: ' + '{{value.name}}' + " : " + '{{value.form_visible}}')</script>
        <div class="form-group row details" id=row_{{value.name}} >

            <div class="col col-diary-label" >
                <label class="item-diary-label" for={{value.name}} >{{value.alias}}</label>
            </div>
            <div class="col-diary-item" id=div_{{value.name}} >
                {% if value.control == 'dropdown' %}
                    {% include "control_dropdown.html" %}
                {% elif value.control == 'star' %}
                    {% include "9_stars.html" %}
                {% elif value.control == 'slider' %}
                    {% include "control_slider.html" %}
                {% elif value.control == 'date' %}
                    {% include "control_date.html" %}
                {% else %}
                    <input class="form-control item-diary-input" type='textarea' name={{value.name}} id={{value.name}} readonly>
                {% endif %}
                {% if value.required == 'yes' %}
                    <script>document.getElementById("{{value.name}}").required = true</script>
                {% endif %}
            </div>

        </div>
    {% else %}
        <script>console.log('IN-visible: ' + '{{value.name}}')</script>
        <div class="form-group row no-show" id=row_{{value.name}}>
            <div class="col">
                <label class="col-form-label no-show" for={{value.name}}></label>
            </div>
            <div class="col" id=div_{{value.name}}>
                <input class="form-control no-show" type='text' name={{value.name}} id={{value.name}}>
            </div>
        </div>
    {% endif %}

{% endfor %}
