<div class="col black">

    <div class="row pink" style="background-color: coral; color: white; padding: 5px;">
        <div class="sub-heading"><a style="color: white;" >{{ pub[0]['detail_name'] }}</a></div>
    </div>

    <div class="row pink" id="random_rank" style="padding-bottom:5px;">{% include "9_stars.html" %}</div>
    <div class="row pink" style="padding: 0px 10px 0px 10px; justify-content: center; text-align: center; line-height: 1; color: black; font-size:12px; ">{{ pub[0]['extra'] }}</div>

    <div style="font-size: 12px; font-weight: bold; padding-top:5px;">What's it features ... ?</div>
    <div class="row pink">{% include "9_pub_features.html" %}</div>

    <div style="font-size: 12px; font-weight: bold; padding-top:5px;">Where it is ... ?</div>
    <div class="row pink">{% include "9_map.html" %}</div>

    <div style="font-size: 12px; font-weight: bold; padding-top:5px;">What it looks like ... ?</div>
    <div class="row pink">{% include "9_pub_photo.html" %}</div>

    <div style="font-size: 12px; font-weight: bold; padding-top:5px;">What it's about ... ?</div>
    <div class="row pink">{% include "9_pub_detail.html" %}</div>
    <div class="row pink">{% include "9_pub_station.html" %}</div>
    <div class="row pink">{% include "9_pub_direction.html" %}</div>

    <div style="font-size: 12px; font-weight: bold; padding-top:5px;">What's going on ... ?</div>
    <div class="row pink">{% include "9_pub_diary.html" %}</div>
</div>
