<style>

.carousel_off {
    background-color: white;
}
.carousel_on {
    background-color: #808000;
}
.face{

  height: 55px;
  width: 50px;

  text-align: center;

  border-radius: 1.2rem;
  border-style: solid;
  border-color: --var(brand_colour);
  border-width: thin;

}
.icon_word {
    position: relative;
    top: 5px;
    font-size: 8px;
    font-weight: bold;
}
.icon_style {
    position: relative;
    top: 5px;
    height: 30px;
    width: 30px;
}
</style>

<script>console.log('CREATING REVIEW FIELDS')</script>
<div id="home_features" style="display:flex; flex-wrap: wrap; ">
{% for key, value in review.items() %}
    {% if value.menu_filter == "yes" %}
        <div style="opacity: 0.5; text-align:center; margin:0px; padding:0px;" id="{{value.name}}_col">
            {% if name == "readonly" %}
                <input type="checkbox" id="{{value.name}}_check" name="{{value.name}}_check" style="display: none;">
            {% else %}
                <input type="checkbox" id="{{value.name}}_check" name="{{value.name}}_check" style="display: none;" onclick="set_feature_icon_colour('{{value.name}}')">
            {% endif %}
            <label for="{{value.name}}_check" style="margin:0px; padding:0px" >
                <div id="{{value.name}}_face" style="opacity: 1; margin: 1px; padding: 2.5px; width: 45px; text-align: center; border: thin solid #808000; border-radius: 1.2rem;">
                    <img height=35 width=35 src="/static/icons/features/{{value.name}}.png" id="{{value.name}}_img" >
                    <div class="icon_word" id="{{value.name}}_caption">
                        <span style="display: block;">{{value.alias}}</span><span style="display: block;">{{value.alias1}}</span></p>
                    </div>
                </div>
            </label>
        </div>
    {% else %}
        <div style="display: none;" id="{{value.name}}_col">
            <div>
                <label class="col-form-label" for="{{value.name}}_check"></label>
                <input class="form-control" type='text' name="{{value.name}}_check" id="{{value.name}}_check">
                <div class="caption" id="{{value.name}}_caption" ></div>
            </div>
        </div>
    {% endif %}
{% endfor %}
</div>
