<div class="col black">
    <form action="/submit/?id={{pub[0]['pub_identity']}}" method="post">

        <div class="row pink">{% include "9_pub_photo.html" %}</div>

        <div style="font-size: 12px; font-weight: bold">What's it about ... ?</div>
        <div class="row pink">{% include "9_features_add.html" %}</div>

        <div style="font-size: 12px; font-weight: bold">Where it is ... ?</div>
        <div class="row pink">{% include "9_detail_add.html" %}</div>
        <div class="row pink">{% include "9_pub_station.html" %}</div>
        <div class="row pink">{% include "9_pub_direction.html" %}</div>

        <div style="font-size: 12px; font-weight: bold">What's going on ... ?</div>
        <div class="row pink">{% include "9_diary_add.html" %}</div>

        <button id="submit" type="submit" class="btn btn-primary btn-block" name="submit" value="submit">Submit</button>
    </form>
</div>
