<div class="col black">
    <div class="row pink" style="background-color: coral; color: white; padding: 5px;">
        <div class="col-2">{% include "9_icon_back.html" %}</div>
        <div class="col-8" align="center" onclick="redirect_pub(daily_id)" id="summary_name"><a style="text-align: center; text-decoration: none; font-size: 14px; font-weight: bold; color: white;" href="#" ></a></div>
        <div class="col-2"></div>
    </div>

    <div class="row pink" id="random_rank" style="padding-bottom:5px;">
        <a href="{{pub[0]['url']}}" target="_blank" rel="noopener noreferrer" onclick="redirect_reviews()">{% include "9_stars.html" %}</a>
    </div>
    <div class="row pink" style="padding: 0px 10px 0px 10px; justify-content: center; text-align: center; line-height: 1; color: black; font-size:12px; " id="summary_extra" ></div>

    <div style="font-size: 12px; font-weight: bold; padding-top:5px;">What's it features ... ?</div>
    <div class="row pink">{% include "9_pub_features.html" %}</div>

    <div style="font-size: 12px; font-weight: bold; padding-top:5px;">Where it is ... ?</div>
    <div class="row pink">{% include "9_map.html" %}</div>

    <div style="font-size: 12px; font-weight: bold; padding-top:5px;">What it's about ... ?</div>
    <div class="row pink">{% include "9_pub_detail.html" %}</div>
    <div class="row pink">{% include "9_pub_station.html" %}</div>
    <div class="row pink">{% include "9_pub_direction.html" %}</div>

    <div style="font-size: 12px; font-weight: bold; padding-top:5px;">What's going on ... ?</div>
    <div class="row pink">{% include "9_pub_diary.html" %}</div>

    <div style="font-size: 12px; font-weight: bold; padding-top:5px;">What it looks like ... ?</div>
    <div class="row pink">{% include "9_pub_photo.html" %}</div>
    <div class="row" style="display:none; background-color: white; border:1px solid black;" id="search_back">xxx</div>
</div>
