<div style="margin:0px; padding: 0px; display: flex" id="id_row_{{field}}">
    <div id="div_rank1" class="stars">
        <div class="star">
            &bigstar;
            {% if ( pub[0]['rank'] <= 0): %}
                <div class="no_star" id="img_rank1">&bigstar;</div>
            {% elif ( pub[0]['rank'] > 1): %}
                <div class="half_star" id="img_rank1">&bigstar;</div>
            {% else %}
                <div class="half_star" id="img_rank1" style="width:{{15*(pub[0]['rank'])}}px">&bigstar;</div>
            {% endif %}
        </div>
    </div>
    <div id="div_rank2" class="stars">
        <div class="star">
            &bigstar;
            {% if ( pub[0]['rank'] <= 1): %}
                <div class="no_star" id="img_rank2">&bigstar;</div>
            {% elif ( pub[0]['rank'] > 2): %}
                <div class="half_star" id="img_rank2">&bigstar;</div>
            {% else %}
                <div class="half_star" id="img_rank2" style="width:{{15*(pub[0]['rank']-1)}}px">&bigstar;</div>
            {% endif %}
        </div>
    </div>

    <div id="div_rank3" class="stars">
        <div class="star">
            &bigstar;
            {% if ( pub[0]['rank'] <= 2): %}
                <div class="no_star" id="img_rank3">&bigstar;</div>
            {% elif ( pub[0]['rank'] > 3): %}
                <div class="half_star" id="img_rank3">&bigstar;</div>
            {% else %}
                <div class="half_star" id="img_rank3" style="width:{{15*(pub[0]['rank']-2)}}px">&bigstar;</div>
            {% endif %}
        </div>
    </div>

    <div id="div_rank4" class="stars">
        <div class="star">
            &bigstar;
            {% if ( pub[0]['rank'] <= 3): %}
                <div class="no_star" id="img_rank4">&bigstar;</div>
            {% elif ( pub[0]['rank'] > 4): %}
                <div class="half_star" id="img_rank4">&bigstar;</div>
            {% else %}
                <div class="half_star" id="img_rank4" style="width:{{15*(pub[0]['rank']-3)}}px">&bigstar;</div>
            {% endif %}
        </div>
    </div>
    <div id="div_rank5" class="stars">
        <div class="star">
            &bigstar;
            {% if ( pub[0]['rank'] <=4): %}
                <div class="no_star" id="img_rank5">&bigstar;</div>
            {% elif ( pub[0]['rank'] >= 5): %}
                <div class="half_star" id="img_rank5">&bigstar;</div>
            {% else %}
                <div class="half_star" id="img_rank5" style="width:{{15*(pub[0]['rank']-4)}}px">&bigstar;</div>
            {% endif %}
        </div>
    </div>
</div>
<input class="form-control details-input" type="textarea" name="rank" id="rank" style="padding: 0px; margin: 0px; width: 25px; font-weight: bold; font-size: 12px; color: #0275d8; border:none" >
