<div class="col" style="background-color: black; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">
    <div class="row" style="justify-content: center; background-color: pink; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">
        Search by Feature
    </div>
    <div class="row" style="justify-content: center; background-color: pink; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">
        <div id="demo1" class="carousel slide" data-ride="carousel">

            <ul class="carousel-indicators">
                <li data-target="#demo1" data-slide-to="0" class="active"></li>
                <li data-target="#demo1" data-slide-to="1"></li>
                <li data-target="#demo1" data-slide-to="2"></li>
            </ul>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/images/category/cleanliness.jpg" height="75px" width="75px" alt="Cleanliness">
                </div>
                <div class="carousel-item">
                    <img src="/static/images/category/live_music.jpg" height="75px" width="75px" alt="Live Music">
                </div>
                <div class="carousel-item">
                    <img src="/static/images/category/open_late.jpg" height="75px" width="75px" alt="Open Late">
                </div>
            </div>

            <a class="carousel-control-prev" href="#demo1" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo1" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>
    </div>




    <div class="row" style="justify-content: center; background-color: pink; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">
        <button onclick="view_all_pubs()">View All Pubs</button>
    </div>
</div>

<script>
    function view_all_pubs() {
        alert('pressed button')
        var base_url = window.location.hostname
        var url = "http://" + base_url + ":5000/home/"
        const myUrlWithParams = new URL(url);
        window.location.replace(myUrlWithParams.href);
    }
</script>

