{% extends 'base.html' %}

{% block title %}Acknowledgements{% endblock %}

{% block script %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/layout.css') }}">
<script>
    form_type = {{ form_type | tojson }}
</script>
{% endblock %}

{% block main %}
<div class="col">
    <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">All icons from </a><a href="https://www.flaticon.com/"> www.flaticon.com</a></div>
    <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">Dog friendly made by <a href="https://www.flaticon.com/authors/darius-dan">Darius Dan</a></div>
    <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">Live sports made by <a href="https://www.flaticon.com/authors/Mihimihi">Mihimihi</a></div>
    <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">Past midnight made by <a href="https://www.flaticon.com/authors/iconixar">Iconixar</a></div>
    <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">Serves food made by <a href="https://www.flaticon.com/authors/pause08">Pause08</a></div>
    <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">Clean toilets made by <a href="https://www.flaticon.com/authors/syafii5758">Syafii5758</a></div>
    <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">Pub games made by <a href="https://www.flaticon.com/authors/nhor-phai">Nhor Phai</a></div>
    <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">Pool table and lively venue made by <a href="https://www.flaticon.com/authors/talha-dogar">Talha Dogar</a></div>
    <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">Delete made by <a href="https://www.flaticon.com/authors/kliwir-art">Kliwir Art</a></div>
    <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">Home made by <a href="https://www.flaticon.com/authors/hqrloveq">Hqrloveq</a></div>
    <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">Add made by <a href="https://www.flaticon.com/authors/pixel-perfect">Pixel perfect</a></div>
    <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">Locator made by <a href="https://www.flaticon.com/authors/rukanicon">Rukanicon</a></div>
    <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">Directions made by <a href="https://www.flaticon.com/authors/ehtisham-abid">Ehtisham Abid</a></div>
    <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">Nearest made by <a href="https://www.flaticon.com/authors/smashicons">Smashicons</a></div>
    <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">World made by <a href="https://www.flaticon.com/authors/itim2101">Itim2101</a></div>
    <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">Global made by <a href="https://www.flaticon.com/authors/srip">Srip</a></div>
    <div href="https://www.flaticon.com/free-icons/plus-sign" title="plus sign icons">Plus sign icons created by Fathema Khanom - Flaticon</adiv>
    <div href="https://www.flaticon.com/free-icons/read-more" title="read more icons">Read more icons created by judanna - Flaticon</div>
    <div href="https://www.flaticon.com/free-icons/read-more" title="read more icons">Read more icons created by Muhammad Waqas Khan - Flaticon</div>
    <div href="https://www.flaticon.com/free-icons/maps-and-location" title="maps and location icons">Maps and location icons created by Andrean Prabowo - Flaticon</div>
        <a href="https://www.flaticon.com/free-icons/castle" title="castle icons">Castle icons created by Icongeek26 - Flaticon</a>
    <div style="text-align:center; font-size:10px; margin: 0px; padding:0px">All other icons made by <a href="https://www.flaticon.com/authors/freepik">Freepik</a></div>
</div>
{% endblock %}
