<!DOCTYPE html>
<html lang="en">
    <head>
        <title>thepubpicker.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        {% include "script.html" %}
    </head>
    <body onload="onLoad()" style="background-color:#CDCDCD; width: 360px">
        <div class="container-fluid mx-auto">
            <div class="row header_band">{% include "header.html" %}</div>
            <div class="row header_band" style="margin-top: 5px" id="list_header">{% include "header_sub.html" %}</div>
            <div class="row top-buffer trim-center">{% include "intro.html" %}</div>
            <div class="row top-buffer trim-center">{% include "filter.html" %}</div>
            <div class="row top-buffer trim-center">{% include "map.html" %}</div>
            <div class="row top-buffer trim-center">{% include "table.html" %}</div>
            <div class="row top-buffer trim-center">{% include "pub.html" %}</div>
            <div class="row top-buffer">{% include "footer.html" %}</div>
        </div>
    </body>
</html>

<script>
document.getElementById("header_band").style = "font-size: 32px; font-weight: bold; font-family:Verdana; color: white; padding: 5px 0 0 0; text-align: center;"

</script>
