<style>
.goldstardiv {
    color: #A9A9A9;
    position: relative;
    font-size: 30px;
}
.halfstar {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    color: #0275d8;
    overflow: hidden;
}

</style>
<div class="row" style="margin-left:0px" id="id_row_{{field}}">
    <input type="text" name="{{field}}" id="{{field}}" style="display:none">
    <div id="div_rank1" style="width:30px">
        <div class="goldstardiv">
            &bigstar;
            <div class="halfstar" id="img_rank1">&bigstar;</div>
        </div>
    </div>
    <div id="div_rank2" style="width:30px">
        <div class="goldstardiv">
            &bigstar;
            <div class="halfstar" id="img_rank2">&bigstar;</div>
        </div>
    </div>
    <div id="div_rank3" style="width:30px">
        <div class="goldstardiv">
            &bigstar;
            <div class="halfstar" id="img_rank3">&bigstar;</div>
        </div>
    </div>
    <div id="div_rank4" style="width:30px">
        <div class="goldstardiv">
            &bigstar;
            <div class="halfstar" id="img_rank4">&bigstar;</div>
        </div>
    </div>
    <div id="div_rank5" style="width:30px">
        <div class="goldstardiv">
            &bigstar;
            <div class="halfstar" id="img_rank5">&bigstar;</div>
        </div>
    </div>
</div>
