<button type="button" class="collapsible_sch" style="font-weight: bold; font-size: 14px; color: #000000; text-decoration: none;">+ Filter by point of interest</button>
<div class="content_sch" style="display: none" id="search_map">
    <input id="search-input-navbar" type="search" placeholder="Search" aria-label="Search" style="line-height:30px; font-size:12px; background-color: #FFFFFF; width:200px;">
 </div>

<script>
    collapse_section("collapsible_sch")
    /*
    var coll = document.getElementsByClassName("collapsible_search");
    var i;
    for (i=0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block"
            }
        })
    }
    */
</script>