<button type="button" id="button_area" class="collapsible_a" style="font-weight: bold; font-size: 14px; color: #000000; text-decoration: none;">+ Filter by area</button>
<div class="content_a" id="content_area" style="display: none">
    <div class="col" id="checks_area"></div>
</div>

<script>
    //collapse_section("collapsible_a")
    var button_area = document.getElementById('button_area')
    var content_area = document.getElementById('content_area')
    var content_stat = document.getElementById('content_stat')
    var content_week = document.getElementById('content_week')
    var content_feat = document.getElementById('content_feat')

    button_area.addEventListener("click", function() {
        if (content_area.style.display === "none") {
            content_area.style.display = "flex";
            content_stat.style.display = "none"
            content_week.style.display = "none"
            content_feat.style.display = "none"
        } else {
            content_area.style.display = "none"
        }
    })

    console.log('directions_list')
    console.log(directions_list)

    var select= document.getElementById("direction");
    var option = document.createElement("option");
    for (i=0; i<directions_list.length; i++) (function(i){

        filtered_data = {{ all_data | tojson }}
        var filtered_data = filtered_data.filter(function(pub) {
            return pub.direction_identity == directions_list[i][0]
        })

        record = document.createElement("div")
        record.className = 'row'
        checks_area = document.getElementById('checks_area')
        checks_area.appendChild(record)

        label = document.createElement("div")
        label.style.width = "150px"
        label.innerHTML = directions_list[i][1] + "( " + filtered_data.length + " )"
        record.appendChild(label)

        input = document.createElement("input")
        input.type = "checkbox"
        input.id = directions_list[i][0]
        var xx = directions_list[i][1]
        input.onclick = function() { eventFunc() }
        record.appendChild(input)
        })(i)

function f_b_d(xx) {
    console.log('inside f_b_d')
    console.log('i got it right: ' + xx)
    }

function eventFunc() {
    filtered_data = {{ all_data | tojson }}
    data = filter_by_direction(filtered_data)
    table_setup(data)

    }
</script>
