<button type="button" id="button_week" class="collapsible_week" style="display:none; font-weight: bold; font-size: 14px; color: #000000; text-decoration: none;">+ Filter by day</button>
<div class="content_week" id="content_week" style="display:none">
    <div class="col" id="checks_week"></div>
</div>

<script>
    //collapse_section("collapsible_week")

    var button_week = document.getElementById('button_week')
    var content_direction = document.getElementById('content_direction')
    var content_stat = document.getElementById('content_stat')
    var content_week = document.getElementById('content_week')
    var content_feat = document.getElementById('content_feat')

    button_week.addEventListener("click", function() {
        if (content_week.style.display === "none") {
            content_week.style.display = "flex";
            content_direction.style.display = "none"
            content_stat.style.display = "none"
            content_feat.style.display = "none"
        } else {
            content_week.style.display = "none"
        }
    })

    var select= document.getElementById("direction");
    var option = document.createElement("option");
    for (i=0; i<diary_headers.length; i++) {
        record = document.createElement("div")
        record.className = 'row'
        checks_week = document.getElementById('checks_week')
        checks_week.appendChild(record)

        label = document.createElement("div")
        label.style.width = "150px"
        label.innerHTML = diary_headers[i]
        record.appendChild(label)

        input = document.createElement("input")
        input.type = "checkbox"
        input.id = diary_headers[i]
        input.onclick = "home_direction_changed()"
        record.appendChild(input)
        }

</script>
