<div style="text-align: center; width: 75px" class="hide_button" id="edit_button">
    <a href="#"><img src="/static/icons/footer/pencil.png" onclick="click_edit()" class="button_size"></a>
    <div class="button_caption">EDIT<br>PUB</div>
</div>
<div style="text-align: center; width: 75px" class="show_button" id="station_button">
    <a href="#"><img src="/static/icons/footer/underground.png" onclick="click_station_btn()" class="button_size"></a>
    <div class="button_caption">STATION<br>AREA</div>
</div>
<div style="text-align: center; width: 75px" class="show_button" id="home_button">
    <a href="{{url_for('home')}}"><img src="/static/icons/footer/home1.png" class="button_size"></a>
    <div class="button_caption">RETURN<br>HOME</div>
</div>
