<div class="col" style="background-color: black; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">
    <div class="row" id="pic" style="justify-content: center;background-color: pink; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">
        <img src="/static/images/venue/0e224037-7fd8-4958-99b8-132c9e8a2229.jpeg" id="random_photo" height="170px" width="260px" alt="pub">
    </div>
    <div class="row" id="random_name" style="justify-content: center;background-color: pink; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">name here</div>
    <div class="row" id="random_rank" style="justify-content: center;background-color: pink; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">rank here</div>
    <div class="row" id="random_description" style="justify-content: center;background-color: pink; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">description here</div>
    <div class="row" id="button" style="justify-content: center;background-color: pink; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">
        <button onclick="pub_of_the_week()">View pub of the week</button>
    </div>
</div>

<script>
    function get_pub() {
        var id = '{{ random_pub_id['pub_identity'] }}'
        var name = '{{ random_pub_id['pub_name'] }}'
        var photo = '{{ random_pub_id['photo_identity'] }}'
        var rank = '{{ random_pub_id['rank'] }}'
        document.getElementById('random_photo').src = '/static/images/venue/' + photo + '.jpeg'
        document.getElementById('random_name').innerHTML = name
        document.getElementById('random_rank').innerHTML = rank
        document.getElementById('random_description').innerHTML = id
        //console.log('id: ' + id)
    }

    function pub_of_the_week() {
        alert('pressed button')
        var id = '6d9c8d4e-fa1d-433d-aea4-ff3f5c36cb64'
        click_front_pub(id)
        /*
        var base_url = window.location.hostname
        var url = "http://" + base_url + ":5000/home/"
        const myUrlWithParams = new URL(url);
        myUrlWithParams.searchParams.append('pub_id', id);
        window.location.replace(myUrlWithParams.href);

        href.setAttribute("href", "#");
        href.setAttribute("onclick", "click_pub('" + pubs_selection[i]['pub_identity'] + "',)");
        */
    }
</script>
