<div class="col" style="background-color: black; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">
    <div onclick="back_home()"class="row" id="description" style="justify-content: center;background-color: pink; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">thepubpicker.com</div>
</div>

<script>

function back_home() {
    console.log('button clicked')
    var base_url = window.location.hostname
    if (config2['env'] == 'prod') {
        var url = "http://" + base_url
    } else {
        var url = "http://" + base_url + ":5000/"
    }
    const myUrlWithParams = new URL(url);
    window.location.replace(myUrlWithParams.href);
}

</script>