{% extends 'base_front.html' %}

{% block script %}
<script>config2 = {{ config2 | tojson }}</script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/click_front_pub.js') }}"></script>
{% endblock %}

{% block on_load %}<body onload="get_pub()" style="background-color:grey">{% endblock %}

{% block block_1 %}{% include "front_random.html" %}{% endblock %}

{% block block_2 %}{% include "front_features.html" %}{% endblock %}

{% block block_3 %}{% include "front_add.html" %}{% endblock %}
