<div id="home_features" class="row justify-content-center" style="display:flex; align-items:center;">
{% for k, field in review_obj.__dict__.items() %}
    {% if field.name in total_list_obj['icon_list'] %}
        <div style="text-align:center; padding:5px; width:60px" id="{{field.name}}_col">
            <div>
                <input type="checkbox" id="{{field.name}}" name="{{field.name}}" style="display:none" onclick="feature_click('{{field.name}}')">
            </div>
            <div>
                <label for="{{field.name}}" style="margin:0px; padding:0px" >
                    <img src="{{ url_for('static', filename='icons/features/' + field.icon ) }}" id="{{field.name}}_img" width="25" height="25"
                         style="opacity: 1;">
                </label>
            </div>
            <div class="caption" id="{{field.name}}_caption" style="font-size: 8px; padding:0px; margin:0px; opacity:1;"></div>
        </div>
        <script>
            document.getElementById("{{field.name}}_caption").innerHTML = "{{field.alias}}"
            document.getElementById("{{field.name}}_caption").style.fontSize = "x-small";
            document.getElementById("{{field.name}}_caption").style.fontWeight = "bold";
        </script>
    {% endif %}
{% endfor %}
</div>
