
<div class="row top-buffer">
    <div class="col-12 center-block text-center">
        <strong>
        <a href="/pub/area" style="font-weight: bold; font-size: 16px; color: #000000; text-decoration: none;">Search pubs by nearest station</a>
        </strong>
    </div>
</div>
<div class="row" style="display: flex; align-items: center; border-color:#0275d8; border-style:solid; border-width:thin">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            {% for x in stations.length %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{x}}"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for area in areas %}
                {% if loop.index == 1 %}
                    <div class="carousel-item active">
                {% else %}
                    <div class="carousel-item">
                {% endif %}
                    <img src="{{ url_for('static', filename='images/location/' + area['photo_identity'] + '.jpeg') }}"
                         style="width:100%; height:175px; object-fit: none;" alt="">
                    <div class="carousel-caption" style="top: 50%; transform: translateY(-50%);" >
                        <a href="#" style="text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; font-weight: bold; font-size: 24px; color: #FFFFFF; text-decoration: none;">{{area['area_name']}}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
