{% for field in diary_headers %}
    <div class="form-group row" id="row_{{field}}" >
        <div class="col" style="text-align:right; width:75px; padding:0px; margin:auto;">
            <label class="col-form-label" for="{{field}}" style="font-size:12px; width:75px; padding:0px; margin:0px;" >{{field}}</label>
        </div>
        <div class="col" id="div_{{field}}" style="width:250px; text-align:left; visibility:visible; display:block; text-align:left" >
            <input class="form-control" type='textarea' name="{{field}}" id="{{field}}" style="font-size:12px; overflow-y: scroll; resize: none; height: 30px; text-align:left; visibility:visible; display:block; width:250px;">
        </div>
    </div>
{% endfor %}
