{% extends 'base_front.html' %}

{% block script %}
<script>
all_data = {{ all_data | tojson }}
total_list_obj = {{ total_list_obj | tojson }}
stations_directions_list = {{ stations_directions_list | tojson }}
config2 = {{ config2 | tojson }}
directions_list = {{ directions_list | tojson }}
</script>
{% include "script_05_js_filter.html" %}
{% include "script_06_js_table.html" %}
{% include "script_07_js_map.html" %}
{% endblock %}

{% block on_load %}<body onload="get_going()" style="background-color:grey">{% endblock %}

{% block block_1 %}{% include "map.html" %}{% endblock %}

{% block block_2 %}{% include "pub_00.html" %}{% endblock %}
