<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
<link rel="stylesheet" type= "text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='jquery/css/jquery.dataTables.min.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/layout.css') }}">

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery/js/jquery-3.6.3.min.js') }}"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='jquery/js/jquery.dataTables.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='javascript/crawl/distancing.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/crawl/display.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/crawl/display_none.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/crawl/show_map_home.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/check_week.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/collapse_features.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/collapse_section.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_all_data.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_by_direction.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_by_feature.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_by_station.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_clear.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_reset.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_direction_change.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/on_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_direction.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_feature.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_station.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/table_setup.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/click_edit.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/click_list.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/click_pub.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/click_station.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/click_station_btn.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/create_table.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/filter_sort.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/column_filter.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/filter_table.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/page_layout.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/populate_diary.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/populate_form.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/populate_pub.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/populate_test.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/shade_stars.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/update_data.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/html/update_icons.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/add_map_click.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/add_markers.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/add_markers_2.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/add_markers_3.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/add_marker_bounds.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/calculate_directions_count.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/calculate_stations_count.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/code_address.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/latlng_avg.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/listen_bounds_changed.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/listen_search.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/map_listen_bounds.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/map_load.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/map_visible.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/maps/show_map.js') }}"></script>

<!--<script type="text/javascript" src="{{ url_for('static', filename='javascript/onload/import_variables.js') }}"></script>-->
