<script>

let markersArray = []

function onLoad(){
    console.log('ONLOAD')
    total_list_obj = {{ total_list_obj | tojson }}
    console.log('{{google_key}}')
    var on_line = map_load('{{google_key}}')
}

function runner(map) {
    page_layout('home')
    document.getElementById('all_filters').style.display = "block"
    if ('{{pub_id}}' == '0') {
        //click_home(all_data, 'all')
        console.log('pub_id == 0')
        display_counter('{{counter}}');
        data = {{ all_data | tojson }}
        populate_direction(data)
        populate_station(data)
        populate_feature(data)
        document.getElementById('button_count').innerHTML = data.length
        table_setup(data)
    } else {
        console.log('pub_id == ' + {{pub_id}})
        click_pub('{{pub_id}}')
    }
}

function initMap_none() {
    console.log('INIT_MAP_NONE')
    runner()
}

function initMap() {
    console.log("INIT MAP");
    map = show_map(51.52, -0.127, document.getElementById('map'))
    var markersArray = []
    if (window.navigator.onLine == true) {
        document.getElementById('the_map').style.display = 'block'
        document.getElementById('map').style.display = 'block'
        var new_data = [{pub_name: "placeholder", pub_latitude: 51.52, pub_longitude: -0.127, colour: "#000000"}]
        add_markers(map, new_data)
        var defaultBounds = new google.maps.LatLngBounds(
          new google.maps.LatLng(51.68, 0.3),      // N, E
          new google.maps.LatLng(51.40, -0.549));  // S, W

        const input = document.getElementById("search-input-navbar");
        const searchBox = new google.maps.places.SearchBox(input, {
            bounds: defaultBounds
        });
        listen_search(map, searchBox);
    }
    runner(map)
    if (data.length > 0 && data.length <= 50) {
        console.log('<= 50 pubs to show')
        add_markers(map, data)
    } else {
        console.log('> 50 pubs')
        //console.log('all directions')
        json_array = calculate_directions_count(data)
        add_markers_2(map, json_array)
    //} else {
    //    console.log('one direction')
    //    json_array_stations = calculate_stations_count(data)
    //    add_markers_3(map, json_array_stations)
    }
}

</script>
