<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/html/click_direction.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/html/click_edit.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/html/click_list.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/html/click_pub.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/html/click_station.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/html/click_station_btn.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/html/create_table.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/html/filter_sort.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/html/column_filter.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/html/filter_table.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/html/go_home.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/html/page_layout.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/html/populate_diary.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/html/populate_form.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/html/populate_pub.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/html/populate_test.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/html/shade_stars.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/html/update_data.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/html/update_icons.js') }}"></script>
