<script>console.log('CREATING REVIEW FIELDS')</script>
<div id="home_features" class="row" style="width: 290px; display:flex; flex-wrap: wrap; ">
{% for k, field in review.__dict__.items() %}
    {% if field.name != "pub_identity" %}
        {% if field.name in model_formats['icon_list'] %}
            <div style="opacity: 0.5; text-align:center; margin:0px; padding:0px; width:40px; height: 60px;" id="{{field.name}}_col">
                <div>
                    {% if name == "readonly" %}
                        <input type="checkbox" id="{{field.name}}_check" name="{{field.name}}_check" style="display:none">
                    {% else %}
                        <input type="checkbox" id="{{field.name}}_check" name="{{field.name}}_check" style="display:none" onclick="set_feature_icon_colour('{{field.name}}')">
                    {% endif %}
                </div>
                <div>
                    <label for="{{field.name}}_check" style="margin:0px; padding:0px" >
                        <img src="{{ url_for('static', filename='icons/features/' + field.icon ) }}" id="{{field.name}}_img" width="27" height="25">
                    </label>
                </div>
                <div class="caption" id="{{field.name}}_caption" style="font-weight: bold; font-size: 8px; padding:0px; margin:0px; opacity:1;">{{field.alias}}</div>
            </div>
        {% else %}
            <div style="display: none;" id="{{field.name}}_col">
                <div>
                    <label class="col-form-label" for="{{field.name}}_check"></label>
                    <input class="form-control" type='text' name="{{field.name}}_check" id="{{field.name}}_check">
                    <div class="caption" id="{{field.name}}_caption" style="font-size: 8px; padding:0px; margin:0px; opacity:1;"></div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}
</div>
