<button type="button" aria-label="by day" id="button_diary" class="collapsible_diary btn click text-left">by day</button>

<div class="content_diary" id="content_diary" style="display: none; background: #F5F5F5;" >
    <div class="col" style="width: 250px; background-color: #F5F5F5; margin-left: 0px;">
        <div class="row">
            <div style="display:flex; margin-top: 10px; margin-left: 5px; margin-right: 10px;">
                <label class="check_face carousel_off" style="visibility: hidden;">
                    <input type="checkbox" />
                    <img style="background-color: white;" height=35 width=35 src="/static/icons/diary/cal.png"  alt="sunday calendar">
                    <span style="font-size: 9px; font-weight: bold;"></span>
                </label>
                <label class="check_face carousel_off" id="sunday_face">
                    <input style="display: none;" id="sunday_filter" type="checkbox" class="radio" value="sunday" name="fooby[1][]" />
                    <img style="background-color: white; margin-top:5px;" height=35 width=35 src="/static/icons/diary/cal.png">
                    <span class="caption_day">SUN</span>
                    <span class="caption_count" id="sunday_count" ></span>
                </label>
                <label class="check_face carousel_off" style="visibility: hidden;">
                    <input type="checkbox" />
                    <img style="background-color: white;" height=35 width=35 src="/static/icons/diary/cal.png">
                    <span style="display: hidden; font-size: 9px; font-weight: bold;"></span>
                </label>
            </div>
        </div>

        <div class="row">
            <div style="display:flex; margin-left: 5px; margin-right: 10px;">
                <label class="check_face carousel_off" id="monday_face">
                    <input style="display: none;" id="monday_filter" type="checkbox" class="radio" value="monday" name="fooby[1][]" />
                    <img style="background-color: white; margin-top:5px;" height=35 width=35 src="/static/icons/diary/cal.png">
                    <span class="caption_day">MON</span>
                    <span class="caption_count" id="monday_count" ></span>
                </label>
                <label class="check_face carousel_off" id="tuesday_face">
                    <input style="display: none;" id="tuesday_filter" type="checkbox" class="radio" value="tuesday" name="fooby[1][]" />
                    <img style="background-color: white; margin-top:5px;" height=35 width=35 src="/static/icons/diary/cal.png">
                    <span class="caption_day">TUE</span>
                    <span class="caption_count" id="tuesday_count" ></span>
                </label>
                <label class="check_face carousel_off" id="wednesday_face">
                    <input style="display: none;" id="wednesday_filter" type="checkbox" class="radio" value="wednesday" name="fooby[1][]" />
                    <img style="background-color: white; margin-top:5px;" height=35 width=35 src="/static/icons/diary/cal.png">
                    <span class="caption_day">WED</span>
                    <span class="caption_count" id="wednesday_count" ></span>
                </label>
            </div>
        </div>

        <div class="row" style="margin-bottom: 10px;">
            <div style="display:flex; margin-left: 5px; margin-right: 10px;">
                <label class="check_face carousel_off" id="thursday_face" >
                    <input style="display: none;" id="thursday_filter" type="checkbox" class="radio" value="thursday" name="fooby[1][]" />
                    <img style="background-color: white; margin-top:5px;" height=35 width=35 src="/static/icons/diary/cal.png">
                    <span class="caption_day">THU</span>
                    <span class="caption_count" id="thursday_count" ></span>
                </label>
                <label class="check_face carousel_off" id="friday_face">
                    <input style="display: none;" id="friday_filter" type="checkbox" class="radio" value="friday" name="fooby[1][]" />
                    <img style="background-color: white; margin-top:5px;" height=35 width=35 src="/static/icons/diary/cal.png">
                    <span class="caption_day">FRI</span>
                    <span class="caption_count" id="friday_count" ></span>
                </label>
                <label class="check_face carousel_off" id="saturday_face">
                    <input style="display: none;"  id="saturday_filter" type="checkbox" class="radio" value="saturday" name="fooby[1][]" />
                    <img style="background-color: white; margin-top:5px;" height=35 width=35 src="/static/icons/diary/cal.png">
                    <span class="caption_day" >SAT</span>
                    <span class="caption_count" id="saturday_count" ></span>
                </label>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/static/css/filter_diary.css">


<script>
    // the selector will match all input controls of type :checkbox
    // and attach a click event handler
    $("input:checkbox").on('click', function() {
        // in the handler, 'this' refers to the box clicked on
        var $box = $(this);
        if ($box.is(":checked")) {
            // the name of the box is retrieved using the .attr() method
            // as it is assumed and expected to be immutable
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            // the checked state of the group/box on the other hand will change
            // and the current value is retrieved using .prop() method
            $(group).prop("checked", false);
            $box.prop("checked", true);

        } else {
            $box.prop("checked", false);
        }
        center_map()
    });
/*
    var button_diary = document.getElementById('button_diary')
    var content_direction = document.getElementById('content_direction')
    var content_station = document.getElementById('content_station')
    var content_diary = document.getElementById('content_diary')
    var content_feature = document.getElementById('content_feature')
    var content_event = document.getElementById('content_event')
    button_diary.addEventListener("click", function() {
        if (content_diary.style.display === "none") {
            content_diary.style.display = "flex";
            content_direction.style.display = "none"
            content_station.style.display = "none"
            content_feature.style.display = "none"
            content_event.style.display = "none"
        } else {
            content_diary.style.display = "none"
        }
    })
*/
</script>
