<script defer type="text/javascript" src="{{ url_for('static', filename='javascript/onload/onload_collection.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_all_filters.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_direction.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_station.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_feature.js') }}"></script>
<!--<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/populate_diary2.js') }}"></script>-->
<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/pre_populate.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/collapse_section.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_clear.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_all_data.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_by_direction.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_by_station.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/filter/filter_by_feature.js') }}"></script>

<div id="all_filters" >
    <button type="button" id="collapsible_filters" class="collapsible_filters btn click">Filters</button>
    <div class="content_filters" id="content_filters" style="display: none">
        <div class="col">
            <div class="row">
                {% include "9_filter_direction.html" %}
            </div>
            <div class="row">
                {% include "9_filter_station.html" %}
            </div>
            <div class="row">
                {% include "9_filter_features.html" %}
            </div>
            <div class="row">
                {% include "9_filter_diary.html" %}
            </div>
            <div class="row">
                {% include "9_filter_reset.html" %}
            </div>
        </div>
    </div>
</div>
<script>
    collapse_section("collapsible_filters")
</script>
