<div class="multiple-card-slider">
                        <div id="carouselExampleControls0" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="cards-wrapper">
                                        <div class="card" id="brunch_carousel">
                                            <div class="image-wrapper">
                                                <img src="/static/icons/features/brunch.png" width="50" height="50" alt="...">
                                            </div>
                                            <div class="card-body">
                                                <div class="card-title">Bottomless Brunch</div>
                                            </div>
                                        </div>
                                        <div class="card" id="dart_carousel">
                                            <div class="image-wrapper">
                                                <img src="/static/icons/features/dart.png" width="50" height="50" alt="...">
                                            </div>
                                            <div class="card-body">
                                                <div class="card-title">Dart Board</div>
                                            </div>
                                        </div>
                                        <div class="card" id="entertain_carousel">
                                            <div class="image-wrapper">
                                                <img src="/static/icons/features/entertain.png" width="50" height="50" alt="...">
                                            </div>
                                            <div class="card-body">
                                                <div class="card-title">Entertainment</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="cards-wrapper">
                                        <div class="card" id="favourite_carousel">
                                            <div class="image-wrapper">
                                                <img src="/static/icons/features/favourite.png" width="50" height="50" alt="...">
                                            </div>
                                            <div class="card-body">
                                                <div class="card-title">Pub Picker Favourite</div>
                                            </div>
                                        </div>
                                        <div class="card" id="garden_carousel">
                                            <div class="image-wrapper">
                                                <img src="/static/icons/features/garden.png" width="50" height="50" alt="...">
                                            </div>
                                            <div class="card-body">
                                                <div class="card-title">Beer Garden</div>
                                            </div>
                                        </div>
                                        <div class="card" id="history_carousel">
                                            <div class="image-wrapper">
                                                <img src="/static/icons/features/history.png" width="50" height="50" alt="...">
                                            </div>
                                            <div class="card-body">
                                                <div class="card-title">Historic Pub</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="cards-wrapper">
                                        <div class="card" id="late_carousel">
                                            <div class="image-wrapper">
                                                <img src="/static/icons/features/late.png" width="50" height="50" alt="...">
                                            </div>
                                            <div class="card-body">
                                                <div class="card-title">Opens Late</div>
                                            </div>
                                        </div>
                                        <div class="card" id="music_carousel">
                                            <div class="image-wrapper">
                                                <img src="/static/icons/features/music.png" width="50" height="50" alt="...">
                                            </div>
                                            <div class="card-body">
                                                <div class="card-title">Live Music</div>
                                            </div>
                                        </div>
                                        <div class="card" id="pool_carousel">
                                            <div class="image-wrapper">
                                                <img src="/static/icons/features/pool.png" width="50" height="50" alt="...">
                                            </div>
                                            <div class="card-body">
                                                <div class="card-title">Pool Table</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="cards-wrapper">
                                        <div class="card" id="quiz_carousel">
                                            <div class="image-wrapper">
                                                <img src="/static/icons/features/quiz.png" width="50" height="50" alt="...">
                                            </div>
                                            <div class="card-body">
                                                <div class="card-title">Quiz Night</div>
                                            </div>
                                        </div>
                                        <div class="card" id="roast_carousel">
                                            <div class="image-wrapper">
                                                <img src="/static/icons/features/roast.png" width="50" height="50" alt="...">
                                            </div>
                                            <div class="card-body">
                                                <div class="card-title">Sunday Roast</div>
                                            </div>
                                        </div>
                                        <div class="card" id="sport_carousel">
                                            <div class="image-wrapper">
                                                <img src="/static/icons/features/sport.png" width="50" height="50" alt="...">
                                            </div>
                                            <div class="card-body">
                                                <div class="card-title">TV Sports</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls0" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls0" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>