<div class="col black">

    <div class="row pink" style="color: black;" >{{ pub[0]['detail_name'] }}</div>
    <div class="row pink" id="random_rank" style="padding-bottom:5px;">{% include "9_stars.html" %}</div>
    <div class="row pink" style="font-size:12px;font-weight:normal; color: black; ">{{ pub[0]['extra'] }}</div>

    <div style="font-size: 12px; font-weight: bold">What's it about ... ?</div>
    <div class="row pink">{% include "9_pub_features.html" %}</div>

    <div style="font-size: 12px; font-weight: bold">Where is it ... ?</div>
    <div class="row pink">{% include "9_pub_detail.html" %}</div>
    <div class="row pink">{% include "9_pub_station.html" %}</div>
    <div class="row pink">{% include "9_pub_direction.html" %}</div>

    <div style="font-size: 12px; font-weight: bold">What's going on ... ?</div>
    <div class="row pink">{% include "9_pub_diary.html" %}</div>

</div>
