<script>console.log('ADD DIARY FIELDS')</script>
{% for key, field in diary.__dict__.items() %}
    {% if key != "pub_identity" %}
        <div class="form-group row details" id="row_{{field.name}}">
            <div class="col details-label">
                <label class="col-form-label label" for="{{key}}">{{key}}</label>
            </div>
            <div class="col details-data" id="div_{{key}}" >
                <input class="form-control details-input" type='textarea' name="{{key}}" id="{{key}}">
            </div>
        </div>
    {% endif %}
{% endfor %}
