<div class="col" style="background-color: black; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">
    <div class="row" style="justify-content: center; background-color: pink; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">
        Search by Feature
    </div>
    <div class="row" style="justify-content: center; background-color: pink; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">
        <div id="demo" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">

                {% for item in range(3) %}
                {% if item == 0 %}
                    <div class="carousel-item active">
                {% else %}
                    <div class="carousel-item">
                {% endif %}
                    <div class="col">
                        <div class="row">
                            <div id="{{total_list_obj['icon_list'][item*4]}}" class="col" style="text-align:center; background-color: grey; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">
                                <div class="row" style="justify-content: center; background-color: green; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">
                                    <img src="/static/images/{{total_list_obj['icon_list'][item*4]}}.jpeg" height="75px" width="95px" alt="Live Music">
                                </div>
                                <div class="row" style="justify-content: center; background-color: green; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">
                                    {{total_list_obj['icon_list'][item*4]}}</div>
                            </div>
                            <div id="{{total_list_obj['icon_list'][(item*4)+1]}}" class="col" style="text-align:center; background-color: grey; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">
                                <div class="row" style="justify-content: center; background-color: green; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">
                                    <img src="/static/images/{{total_list_obj['icon_list'][(item*4)+1]}}.jpeg" height="75px" width="95px" alt="Open Late">
                                </div>
                                <div class="row" style="justify-content: center; background-color: green; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">
                                    {{total_list_obj['icon_list'][(item*4)+1]}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="{{total_list_obj['icon_list'][(item*4)+2]}}" class="col" style="text-align:center; background-color: grey; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">
                                <div class="row" style="justify-content: center; background-color: green; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">
                                    <img src="/static/images/{{total_list_obj['icon_list'][(item*4)+2]}}.jpeg" height="75px" width="95px" alt="Quiz">
                                </div>
                                <div class="row" style="justify-content: center; background-color: green; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">
                                    {{total_list_obj['icon_list'][(item*4)+2]}}</div>
                            </div>
                            <div id="{{total_list_obj['icon_list'][(item*4)+3]}}" class="col" style="text-align:center; background-color: grey; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">
                                <div class="row" style="justify-content: center; background-color: green; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">
                                    <img src="/static/images/{{total_list_obj['icon_list'][(item*4)+3]}}.jpeg" height="75px" width="95px" alt="Roast">
                                </div>
                                <div class="row" style="justify-content: center; background-color: green; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">
                                    {{total_list_obj['icon_list'][(item*4)+3]}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>
    </div>

    <div class="row" style="justify-content: center; background-color: pink; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">
        <button onclick="view_all_pubs()">View All Pubs</button>
    </div>
</div>

<script>
function view_all_pubs() {
    //alert('pressed button')
    var base_url = window.location.hostname
    if (config2['env'] == 'qual') {
        var url = "http://" + base_url + ":5000/front_home/"
    } else {
        var url = "http://" + base_url + "/front_home/"
    }
    const myUrlWithParams = new URL(url);
    window.location.replace(myUrlWithParams.href);
}

list = ['brunch','dart','entertain','favourite','garden','history','late','music','pool','quiz','roast','sport']
for (i=0; i<list.length; i++) {
    var marker = list[i]
    document.getElementById(marker).addEventListener('click', (function (marker) {
        return function () {
            //alert(marker + ' : ' + config2['env'])
            var base_url = window.location.hostname

            if (config2['env'] == 'qual') {
                var url = "http://" + base_url + ":5000/front_home/"
            } else {
                var url = "http://" + base_url + "/front_home/"
            }
            const myUrlWithParams = new URL(url);
            myUrlWithParams.searchParams.append('feature', marker);
            window.location.replace(myUrlWithParams.href);
            }
        })(marker))
}

</script>
