<script>
$( function() {
    $( "#tags" ).autocomplete({
        source: {{list_of_pubs | tojson}},
        classes: {
            "ui-autocomplete": "highlight"
        }
    });
} );
</script>

<div class="row top-buffer" style="padding: 10px; border:1px solid #0275d8;">
    <div class="col">
        <div class="row justify-content-center">
            <div style="font-weight: bold; font-size: 14px;">
                 Search by name or postcode
            </div>
        </div>
        <div class="row justify-content-center">
            <input placeholder="search by pub name" id="tags" style="line-height: 30px; margin: 0px 1px 0px 0px ; font-size:12px; background-color: #F6F6F6; background-image: linear-gradient(#FAF9F6, #F6F6F6); width:135px; border-radius: 5px;">
            <input placeholder="search by postcode" id="tags_postcode" type="search" style="line-height: 30px; margin: 0px 1px 0xp 1px; font-size:12px; background-color: #F6F6F6; background-image: linear-gradient(#FAF9F6, #F6F6F6); width:135px; border-radius: 5px;">
            <a><img src="/static/icons/buttons/arrow.png" onClick="goPub()" class="button_size"></a>
        </div>
        <div id="map_home" style="border: 1px solid #0275d8; display:none" class="map_height"></div>
    </div>
</div>
