<div id="the_map">
    <div class="col-md-12 mx-auto">
        <div class="row">
            <div id="map" style="display:none; border: 1px solid #0275d8" class="map_height">
            </div>
        </div>
        <div class="row">
            <div id="no_map" style="display:none; border: 1px solid #0275d8" class="map_height">
                <img class="fa-quora" height="100" src = "/static/icons/no-map.png">
                <p style="padding: 200px; text-align: center;">Too many pubs to show on map</p>
            </div>
        </div>
        <div class="row">
            <div id="no_wifi" style="display:none; border: 1px solid #0275d8" class="map_height">
                <img class="fa-quora" height="100" src = "/static/icons/no-wifi.png">
                <p style="padding: 200px; text-align: center;">No internet connection to show map</p>
            </div>
        </div>
    </div>
</div>
