<div class="col" style="background-color: black; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">
    <div class="row" id="pic" style="justify-content: center;background-color: pink; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">
        {% include "pub_01_features.html" %}
    </div>
    <div class="row" style="justify-content: center;background-color: pink; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">{% include "pub_02_form.html" %}</div>
    <div class="row" style="justify-content: center;background-color: pink; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">{% include "pub_04_diary.html" %}</div>
    <div class="row" style="justify-content: center;background-color: pink; padding:5px 5px 5px 5px; margin:5px 5px 5px 5px">{% include "pub_05_form_submit.html" %}</div>
</div>
